@import "partials/_popup";
@import "partials/_fixes";
@import "partials/font-awesome";
@import "partials/_fonts";

/* FONTS */
/* FONTS */

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}





.fix-plates {
  ul {
    display: flex;
    justify-content: center;
    li {
      list-style-type: none;
      @for $i from 1 through 4 {
        div.plate-#{$i} {
          background: url('/images/about/Icon-#{$i}.png') no-repeat;
          width: 300px;
          height: 180px;
          max-height: 100%;
          z-index: 1;
          &:hover {
            background: url('/images/about/Icon-#{$i}-press.png') no-repeat;
            z-index: 2;
          }
        }
      }
    }
  }
}

.bx_catalog_top_home {
  border-bottom: none;
}

.bx_catalog_item_images {
  opacity: 0 !important;
}

.bx_catalog_item_images_double {
  opacity: 1 !important;
}

/* FOOTER */
footer {
  background:transparent url('/images/texture.png') left top repeat-x;
  padding-top: 70px;
  overflow: hidden;
  .footer-menu {
    li {
      a {
        &:hover, &:focus {
          color: #a31a18;
        }
      }
    }
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4e4e4e;
  font-family: Lato;
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
  line-height: 0;
  .footer-logo {
    margin-bottom: 40px;
  }
}

.copyright {
  height: 40px;
  width: 100%;
  background: rgba(129, 129, 129, 0.41);
  p {
    color: #4e4e4e;
    font-family: Lato;
    font-size: 0.87rem;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    line-height: 40px !important;
  }
}

/* FORM */

.overlay:target {
    background-color: rgba(0, 0, 0, 0.7);
}

.form-wrapper {
  background: url('/images/bg-feedback.png') no-repeat;
  background-color: rgba(0, 0, 0, .81);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.mfeedback {
  margin-bottom: 120px;
  form {
    display: flex;
    justify-content: center;
    .mf-name, .mf-email, .mf-phone, [type="submit"] {
      flex-basis: 25%;
      input {
        width: 94%;
        border: 1px solid white;
        background: rgba(255, 255, 255, 0.67);
        height: 46px;
        padding-left: 15px;
        color: #230e0d;
        font-family: Lato;
        @include fontSize(18px);
        font-weight: 300;
        text-transform: uppercase;
        &::-webkit-input-placeholder { color: black; };
        &::-moz-placeholder { color: black; };
      }
    }
    [type="submit"] {
      background: #a31a18;
      background-color: #a31a18;
      border: none;
      color: white;
      font-family: Lato;
      @include fontSize(18px);
      font-weight: 300;
      text-transform: uppercase;
      &:hover, &:focus {
        background: black;
      }
    }
  }
  h1 {
    margin: 96px 0 53px 0;
    color: white;
  }
}

/* END FORM */

/* NEWS */

.wall-texture {
  background:
    url('/images/triangle.png') 50% -1px no-repeat,
    url('/images/texture.png') 0 0 repeat-y ;
}

.sell {
  margin-top: 70px;
  padding-bottom: 15px;
  .sell-wrapper {
    .about-wrapper {
      h1 {
        line-height: 36px;
        position: relative;
        margin-top: 70px;
        margin-bottom: 40px;
        // &:after {
        //   content: '';
        //   width: 180px;
        //   border-bottom: 1px solid #4e4e4e;
        //   position: absolute;
        //   left: calc(50% - 90px);
        //   bottom: -36px;
        // }
      }
      p {
        color: #4e4e4e;
        opacity: 0.7;
        color: #000000;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
      }
    }
    .news-wrapper {
      .news-list {
        display: flex;
        .news-item {
          padding: 15px;
          border: 1px solid #b7b7b7;
          margin-right: 15px;
          flex-basis: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          &:hover {
            border: 1px solid #a31a18;
          }
          &:last-child {
            margin-right: 0;
          }
          .custom-preview {
            color: #4e4e4e;
            font-family: Lato;
            font-size: 16px;
            font-weight: 300;
          }
          .custom-news-button {
            border: 1px solid #a31a18;
            margin-bottom: 16px;
            margin-top: 30px;
            &:hover {
              background-color: #a31a18;
              a {
                color: white;
              }
            }
            a {
              color: #a31a18;
              padding: 8px;
            }
          }
        }
      }
    }
  }
}

/* END NEWS */

/* SLIDER */

.title {
  /* чтобы линии не выходили за ширину блока заголовка */
  overflow: hidden;
  position: relative;
  $line-height: 34px;
  line-height: $line-height;
  margin-top: (140px/2) - $line-height/2;
  margin-bottom: (140px/2) - $line-height/2;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: $line-height/2 - 3px;
    /* делаем линию строчно-блочной */
    display: inline-block;
    /* выравниваем вертикально по середине */
    vertical-align: middle;
    /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
    box-sizing: border-box;
    /* установка ширины в 100% делает линию равной ширине тега заголовка
     ** благодаря этому линия заполнит все свободное пространство
     ** слева и справа от текста
     */
    width: 100%;
    height: 2px;
    background: #4e4e4e;
    /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
     ** благодаря этому создается нужный отступ между линиями и текстом
     */
    border: solid #f2f2f2;
    border-width: 0 32px;
  }
  &:before {
    /* смещаем левую линию влево отрицательным отступом, равным 100% ширины
     ** благодаря этому линия встает слева от текста
     */
    margin-left: -100%;
  }
  &:after {
    /* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
     ** благодаря этому линия встает справа от текста
     */
    margin-right: -100%;
  }
}

.title-50px {
  color: #a31a18;
  margin-top: 0;
  margin-bottom: 41px;
  &:before {
    width: 82px;
    left: 0;
    margin-left: 0;
    border-left: none;
  }
  &:after {
    width: 82px;
    right: 0;
    margin-right: 0;
    border-right: none;
  }
}

.title-50px:before, .title-50px:after {
  background: #a31a18 !important;
  position: static;
  // width: 114px;
}

.slick {
  overflow: hidden;
  max-width: 100%;
  min-height: 220px;
  margin-bottom: 70px;
  img {
    opacity: 0.5;
    transition: all 300ms ease;
    padding: 2%;
    max-width: 620px;
  }
  .slick-center {
    img {
      opacity: 1 !important;
      transform: scale(1.08);
    }
  }
}

.bx-breadcrumb {
  color: #a31a18;
  margin-bottom: 30px;
  margin-top: 17px;
  & a {
    color: #4e4e4e;
    font-family: Lato;
    @include fontSize(12px);
    font-weight: 400;
  }
  .bx-breadcrumb-item {
    span {
      // font-size: 1rem !important;
      // font-family: Lato;
    }
  }
  .fa-angle-right {
    background: url(/images/breadcrumb-arrow.png);
    width: 5px;
    height: 9px;
    &:before {
      content: '';
    }
  }
}

/* ABOUT COMPANY */

h4 {
  color: #4e4e4e;
  font-family: Lato;
  @include fontSize(18px);
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.t12 {
  top: 12px;
}

.about-wrapper {
  overflow: hidden;
  .l-wrapper {
    position: absolute;
    z-index: -1;
    background:transparent url('/images/about-bg.png') left top no-repeat;
    background-size: cover;
    left: 0;
    $container-width: 1200px;
    width: calc((100% - #{$container-width})/2  + 286px);
    height: 1200px;
  }
  .r-wrapper {
    margin-left: 286px;
    h4 {
      margin-top: 60px;
      margin-bottom: 20px;
      &.hover:hover {
        color: #a31a18;
      }
    }
    padding-left: 15px;
    ul {
      li {
        list-style-image: url(/images/li-marker.png);
        list-style-position: inside;
        p {
          margin-bottom: 20px;
        }
      }
    }
    span {
      font-family: Lato;
      font-weight: 400;
      line-height: 32px;
      color: #a31a18;
      @include fontSize(18px);
      position: relative;
      &.about-why:hover:before,
      &.about-how:hover:before,
      // &.about-because:hover:before { background-color: #a31a18; color: #f2f2f2 !important; }
      &.about-because:hover:before { color: #a31a18 !important; }
      &.about-why:before,
      &.about-how:before,
      &.about-because:before {
        content: "ЗАБОТА";
        position: absolute;
        width: 286px;
        height: 144px;
        left: -327px;
        line-height: 144px;
        top: -11px;
        background-color: rgba(255, 255, 255, .8);
        z-index: 10;
        color: #4e4e4e;
        font-family: Lato;
        @include fontSize(36px);
        font-weight: 700;
        text-align: center;
      }
      &.about-how:before  { content: "ГАРАНТИЯ"; }
      &.about-because:before  { content: "КАЧЕСТВО"; }
    }
    p {
      font-family: Lato;
      font-weight: 400;
      line-height: 32px;
      color: #4e4e4e;
      @include fontSize(16px);
    }
  }
}


.about-ads-wrapper {
  background: transparent url(/images/feedback-bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h1 {
    color: #000;
    margin-top: 70px;
  }
  h2 {
    color: #ffffff;
    font-family: Lato;
    @include fontSize(18px);
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 40px;
  }
  .plates {
    ul {
      li {
        :hover { opacity: 0.51 }
      }
    }
  }
}

/* END ABOUT */
/* CONTACTS */
.bg-white {
  background-color: white !important;
}

.contacts-flex-wrapper {
  display: flex;
  justify-content: space-between;
  .contacts-left {
    padding-left: 20px;
    padding-top: 20px;
    flex-basis: 30%;
    margin-right: 15px;
    background-color: #f2f2f2;
    h1.show-room {
      color: #a31a18;
      font-family: Lato;
      @include fontSize(36px);
      font-weight: 700;
      line-height: 16px;
      text-align: left;
    }
    p {
      color: #4e4e4e;
      font-family: Lato;
      font-weight: 400;
      span {
        @include fontSize(18px);
      }
      @include fontSize(16px);
      line-height: 0.7;
    }
  }
  .contacts-right {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
    p {
      text-align: center;
      margin-bottom: 32px;
    }
    form {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > div {
        width: 80%;
        margin-bottom: 15px;
        input {
          width: 100%;
          border: none;
          padding: 10px 16px;
        }
        textarea {
          border: none;
          width: 100%;
          padding: 10px 16px;
        }
      }
      [type="submit"] {
        background: #a31a18;
        border: none;
        color: white;
        font-family: Lato;
        @include fontSize(18px);
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 15px;
        width: 40%;
        &:hover {
          background-color: #000;
        }
      }
    }
  }
}
.map-placeholder {
  margin-top: 40px;
  margin-bottom: 40px;
  img { max-width: 100% };
}

.contacts-building {
  img { width: 100%; }
  margin-bottom: 50px;
}

.constacts-slick {
  position: relative;
  top: 12px;
}

/* END CONTACTS */
/* DILLERS */

.dillers-why:hover:before,
.dillers-how:hover:before,
// .dillers-because:hover:before { background-color: #a31a18; color: #f2f2f2 !important; }
.dillers-because:hover:before { color: #a31a18 }
.dillers-why:before,
.dillers-how:before,
.dillers-because:before {
  content: "ИНФОРМАЦИЯ";
  position: absolute;
  width: 286px;
  height: 144px;
  left: -327px;
  line-height: 144px;
  top: -11px;
  background-color: rgba(255, 255, 255, .8);
  z-index: 10;
  color: #4e4e4e;
  font-family: Lato;
  @include fontSize(36px);
  font-weight: 700;
  text-align: center;
}
.dillers-how:before  { content: "ОБУЧЕНИЕ"; }
.dillers-because:before  { content: "ЗАЩИТА"; }
.dillers-last {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  &:hover {
    color: #a31a18;
  }
}


.dillers-fix {
  .l-wrapper {
    // top: 0;
  }
  .r-wrapper {
    h4 {
      margin-top: 0;
      &:first-line {
        line-height: 18px;
      }
    }
    p {
      margin-bottom: 20px;
    }
  }
}
/* END DILLERS */


/* Product page */
$wrapper-margin: 15px;

.left-wrapper, .right-wrapper {
  width: calc(50% - #{$wrapper-margin/2});
}


.flex-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.two-column-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.left-wrapper {
  float: left;
  margin-right: $wrapper-margin/2;
}

.right-wrapper {
  position: relative;
  float: right;
  margin-left: $wrapper-margin/2;
  // background-color: white;
  bottom: 0;
  top: 0;
  &.flex-col {
    padding-right: 16px;
  }
}

.slick-vertical-wrapper {
  flex-direction: column;
  position: relative;
  img {
    margin-bottom: 30px;
  }
  .texture-name--another {
    display: inline;
    position: absolute;
    color: #161616;
		border: 1px solid #bfca04;
    font-family: Lato;
		background: none;
    font-size: 15px;
    font-weight: 300;
    bottom: 0;
    width: 131px;
    left: calc(50% - 65px);
    text-align: center;
  }
}

.slider-for img {
  width: 100%;
}

.slider-nav {
  display: flex !important;
  flex-direction: column;
}

.information-wrapper {
  margin-left: 16px;
  .cost {
    padding: 25px;
    border: 1px solid #bfca04;
    margin-bottom: 30px;
    .left-wrapper {
      width: calc(30% - 7.5px);
      color: #a31a18;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
    }
    .right-wrapper {
      width: calc(70% - 7.5px);
      .cost-green {
        font-family: Lato;
        color: #282828;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
  h4 {
    text-align: left;
    font-family: Lato;
    @include fontSize(18px);
    font-weight: 700;
    text-transform: uppercase;
    color: #4e4e4e;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    &:first-child {
      margin-top: 16px;
    }
    & + h4 {
      color: #a31a18;
      margin-bottom: 32px;
    }
  }
  @include fontSize(16px);
  line-height: 24px;
  font-weight: 700;
  p.cost + p.cost {
    margin-bottom: 30px;
  }
  .cost-green {
    color: green;
    @include fontSize(24px);
  }
  table {
    font-weight: 400;
    tr {
      border-bottom: 1px solid #4d4d4d;
      &:last-child {
        border-bottom: none;
      }
    }
    td {
      &:first-child {
        padding-right: 10px;
      }
        color: #4e4e4e;
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
  }
}

.slider-product {
  img {
    width: 100%;
    height: auto;
    padding-left: 7px;
    padding-right: 7px;
  }
  margin-left: 25px;
  margin-right: 30px;
  margin-bottom: 40px;
}

button.slick-prev {
  background: url(/images/slider-arrow-left.png) !important;
  height: 40px;
  width: 20px;
  &:before {
    content: "";
  }
}

button.slick-next {
  background: url(/images/slider-arrow-right.png) !important;
  height: 40px;
  width: 20px;
  &:before {
    content: "";
  }
}

.slider-nav {
  padding-top: 20px;
  margin-top: 30px;
  padding-bottom: 12px;
  position: relative;
  .slick-arrow {
    height: 20px;
    width: 40px;
    position: absolute;
    left: calc(50% - 20px);
  }
  .slick-next {
    background: url(/images/slider-arrow-bottom.png) !important;
    top: 100%;
  }
  .slick-prev {
    background: url(/images/slider-arrow-top.png) !important;
    top: 0;
  }
  div.slick-vertical-wrapper {
    margin-bottom: 8px;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-button {
  .link-description {
    color: #4e4e4e;
    font-family: Lato;
    text-align: center;
    @include fontSize(18px);
    font-weight: 300;
    + a {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 16px;
      margin-bottom: 40px;
      color: #a31a18;
      font-family: Lato;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      text-transform: uppercase;
      width: 250px;
      border: 1px solid #a41310;
      &:hover, &:active {
        background-color: #a41310;
        color: white;
        text-decoration: none;
      }
      &.green-button {
        width: 255px;
        color: #bac502;
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        border-color: #bfca04;
        text-transform: none;
        &:hover, &:active {
          color: white;
          background-color: #bfca04;
          text-decoration: none;
        }
      }
    }
  }
}

.sticker-new, .sticker-in {
  width: 70px;
  height: 17px;
  margin-left: auto;
  margin-top: 3px;
  margin-bottom: 3px;
}

.sticker-new {
  background: url(/images/sticker-new.png);
}

.sticker-in {
  background: url(/images/sticker-in.png);
}

/*TABS*/
/* Style the tab */
div.tab {
  overflow: hidden;
  // background-color: #f1f1f1;
  background-color: white;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: #f4f4f4;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 20%;
  // transition: 0.3s;
  font-family: Lato;
  @include fontSize(15px);
  font-weight: 700;
  text-transform: uppercase;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #900000;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  color: #a31a18;
  font-family: Lato;
  background-color: #fff;
  border-bottom: 1px solid transparent;
  @include fontSize(15px);
  font-weight: 700;
  border-right: 1px solid #900000;
  border-left: 1px solid #900000;
  border-top: 1px solid #900000;
}


/* Style the tab content */
.tabcontent {
  display: none;
  background: #fff;
  padding: 8px 16px;
  border: 1px solid #900000;
  border-top: none;
  margin-bottom: 50px;
  p {
    text-align: justify;
  }
}

.maintab {
  display: block;
}

/*END TABS*/

.flex-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  // margin-bottom: 32px;
}


.mb70 {
  margin-bottom: 70px;
}


.product-button {
  color: #a31a18;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  background-color: white;
  border: 1px solid #a31a18;
  text-align: center;
  display: inline-block;
  @include fontSize(14px);
  padding: 3px 9px;
  border: 1px solid #a31a18;
  &:hover, &:active {
    background-color: #a31a18;
    text-decoration: none;
    color: white;
  }
}

.img-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 7.5px;
  margin-right: 7.5px;
  border: 2px solid transparent;
  &:hover, &:focus {
    overflow: hidden;
    border: 2px solid #8c1c1a;
    .texture-name {
      background-color: #a31a18;
    }
  }
  img {
    width: 100%;
  }
}

.jumbo {
  width: 100%;
  margin-bottom: 70px;
  margin-top: 70px;
  img {
    max-width: 100%;
  }
}

.desc {
  margin-top: 50px; // TODO: Убрать
  font-family: Lato;
  @include fontSize(16px);
  font-weight: 400;
  color: #000000;
  font-family: Lato;
  line-height: 24px;
}

$sidebar-width: 288px;

.content-sidebar {
  float: left;
  max-width: $sidebar-width;
  span.subcategory_name {
    color: #4e4e4e;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid #a31a18;
    padding: 8px;
    display: inherit;
    margin-right: 10px;
  }
  .bx_sitemap {
    margin-top: 20px;
    ul {
      list-style-image: url(/images/li-black-marker.png);
      list-style-position: inside;
      color: #4e4e4e;
      li {
        &:hover, &:active {
          list-style-image: url(/images/li-terra-marker.png);
        }
      }
    }
  }
}

.content-main {
  margin-left: $sidebar-width;
  // display: flex;
  // justify-content: space-between;
  // margin-left: -7.5px;
  // margin-right: -7.5px;
}

.header-underline {
  border-bottom: 4px solid #bbb;
}

.select-category-wrapper {
  background-color: #fff;
  margin-right: 15px;
  overflow: hidden;
  padding-top: 10px;
  .subcategory_name {
    margin-left: 10px;
  }
  h5 {
    color: #a31a18;
    text-transform: uppercase;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    @include fontSize(18px);
    font-weight: 700;
  }
  ul {
    padding-bottom: 40px;
    margin-left: 20px;
    margin-bottom: 16px;
    li {
      font-family: Lato;
      list-style-position: inside;
      list-style-image: url(/images/li-black-marker.png);
      @include fontSize(16px);
      font-weight: 400;
      color: #4e4e4e;
      &:hover, &:active {
        list-style-image: url(/images/li-terra-marker.png);
      }
      &.marked {
        color: #a31a18;
      }
    }
  }
}

.mb20 {
  margin-bottom: 20px;
}

.flex-row.no-margin .flex-product-wrapper {
  &:last-child {
    margin-right: 0px;
  }
  &:first-child {
    margin-left: 0px;
  }
}

.category-pager {
  background-color: #fff;
  padding: 40px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 32px;
}


.catalog-category-wrapper {
  position: relative;
  &:hover, &:focus {
    overflow: hidden;
  }
}

.texture-name {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-family: Lato;
  color: #ffffff;
  font-weight: 300;
  @include fontSize(15px);
  text-transform: uppercase;
  background-color: rgba(27, 27, 27, .6);
  left: 0;
  right: 0;
  z-index: 9;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
}

.mb16 {
  margin-bottom: 16px;
}

.subcategory-main {
  .bx_catalog_line {
    display: flex;
    flex-wrap: wrap;
    .subcategory-wrapper {
      flex-basis: calc(25% - 5px*2);
      margin-left: 5px;
      margin-right: 5px;
      .subcategory-card {
        h3 {
          font-family: Lato;
          @include fontSize(15px);
          border: 1px solid #a31a18;
          padding: 10px;
          text-align: center;
        }
        ul {
          margin-left: 15px;
          li {
            list-style-type: none;
            a {
              font-family: Lato;
              font-size: 16px;
              color: #4e4e4e;
              font-weight: 300;
              &:hover, &:focus {
                color: #87270d;
              }
            }
          }
        }
      }
    }
  }
}

.no-white-fix {
  background: none;
  .title {
    &:before, &:after {
      border-color: white;
    }
  }
  .header-main {
    background: #f2f2f2;
  }
}

/* FILTER */
.bx-filter-title {
  color: #4e4e4e;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
}

.bx-filter .bx-filter-parameters-box-title span {
  color: #4e4e4e;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}

.bx-filter.bx-blue .bx-filter-section {
  background: white;
  margin-right: 15px;
}

.bx-filter.bx-blue .bx-ui-slider-handle.left, .bx-filter.bx-blue .bx-ui-slider-handle.right {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAANCAYAAABcrsXuAAAAvklEQVQ4T63UvRHCMAwFYMs/wBTMQcEAuLAXYQT2oGcG0wMZhjXMCxc4IMGSDtxG0pcX5UxGcVJKEeXrUspO0WZIWhxjXHnvz0Q0r7XuAW2lvSJkAE4AFo/BGohFXhN8vrkUaiItQJPoKyIBpNAkMgAX7GAmXW7r042QHgghdBgepACX6A3pAedcZ61VAy3oifySgPvr7sg/galElHPeYGlHLNlpd8DVY+4VN8OScB9VAFz96DkGGK6vr8E53ACn92eYPz9n2AAAAABJRU5ErkJggg==") no-repeat right top;
  &:hover {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAANCAYAAABcrsXuAAAA30lEQVQ4T63Tyw3CMAwGYDshKQdmQEiVmIEDA8AsLADijCoW4M4O3IEuwAD0zAo8m5AUqFq1NI4gZztf/adG8DiLMBhzxOE0ucw92gCpxcueGCghdsB4AOltNUuuE2ovCckAKbaAvG0v1loDqjsZciIWSM0EaCcoHB+oESlFVJMNFfqKuICPSYFqkXdEexORpDyuC6ogGSBljMgEBaBMVEJef5GMwRNwQTnyK9AEZci/gDxes0dQ2COMwmCkWWuDjHGfN6DUavU4HY7nLkb9jllf505W77Rf6+qzNalaPwGfpn+6UZ5Y0QAAAABJRU5ErkJggg==")
  }
}

.bx-filter .bx-ui-slider-handle.left {
  margin-left: -13px;
}

.bx-filter .bx-ui-slider-handle.right {
  margin-right: -13px;
}

.bx-filter .bx-ui-slider-handle {
  width: 25px;
  height: 13px;
}

.bx-filter .bx-ui-slider-track {
  position: relative;
  height: 3px;
}

.bx-filter.bx-blue .bx-ui-slider-pricebar-v {
  background: #a7a7a7;
}

.bx-filter.bx-blue .bx-ui-slider-pricebar-vn {
  background: #dadada;
}

.bx-filter .bx-ui-slider-part {
  background: #a7a7a7;
}

.bx-filter .bx-filter-parameters-box-title {
  border-bottom: 1px solid #888;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bx-filter .bx-filter-input-checkbox .bx-filter-param-text {
  color: #4e4e4e;
}

.bx-filter .bx-filter-input-container input {
  border-radius: 0;
  background: #fff;
  border: 1px solid #a6a6a6;
}

.bx-filter-parameters-box-container {
  .btn.btn-themes {
    color: #ffffff;
    border-radius: 0;
    border: 2px solid #a31a18;
    background: #a31a18;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    &:hover, &:active {
      background: black;
      border-color: black;
    }
  }
  .btn.btn-link {
    border: 2px solid #a6a6a6;
  }
  .btn-link {
    font-weight: normal;
    border-radius: 0;
    color: #4e4e4e;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    &:hover, &:active {
      border-color: #a31a18;
    }
  }
}
/* END FILTER */

.product-arrows {
  // $margin-arrows: 10px;
  // &:before {
  //   content: '';
  //   background: url(/images/slider-arrow-left.png);
  //   height: 40px;
  //   width: 20px;
  //   position: absolute;
  //   top: calc(50% - 20px);
  //   left: -20px - ($margin-arrows);
  // }
  // &:after {
  //   content: '';
  //   background: url(/images/slider-arrow-right.png);
  //   height: 40px;
  //   width: 20px;
  //   position: absolute;
  //   top: calc(50% - 20px);
  //   right: -20px - ($margin-arrows);
  // }
}

.slick-main-arrows button {
  position: absolute;
  z-index: 9;
  $center-img-width: 620px;
  $margin-with-center: 40px; /* DONT CHANGE */
  $margin-with-center: $margin-with-center + 40px;
  $margin-arrows: calc((100vw - #{$center-img-width})/2 - #{$margin-with-center});
  &.slick-prev {
    left: $margin-arrows;
  }
  &.slick-next {
    right: $margin-arrows;
  }
}
