@import "partials/_popup";
@import "partials/font-awesome";

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

html {
  font-size: 100%;
}

body {
  font-size: inherit;
  background-color: #f2f2f2;
}

a {
  text-decoration: none !important;
  color: #4e4e4e;
  &:hover, &:focus {
    color: #87270D;
  }
}

ul, ol {
  padding-left: 0;
}

h1 {
  color: #4e4e4e;
  font-family: Arial;
  @include fontSize(36px);
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

header {
  .header-contacts {
    height: 40px;
    width: 100%;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0;
      height: 40px;
      li {
        list-style-type: none;
        padding: 0 15px;
        color: #898989;
        border-right: 1px solid #818181;
        &:hover {
          color: white;
          cursor: pointer;
        }
        &:first-child {
          border-left: 1px solid #818181;
        }
      }
    }
  }
}

.header-fixed {
  transition: all 0.3s;
  -webkit-appearance: none;
  background: #f2f2f2;
  position: fixed;
  top: 0;
  z-index: 900;
  left: 0;
  width: 100%;
  // height: 40px;
  .header-contacts {
    // display: none;
  }
  #horizontal-multilevel-menu {
    // height: 40px !important;
    li {
      // a { color: #f2f2f2; };
    }
  }
  .logo {
    top: 0;
    // left: -15px;
  }
}

.main-img-wrapper {
  margin-bottom: 70px;
}

.plates {
  ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    li {
      list-style-type: none;
      @for $i from 1 through 5 {
        div.plate-#{$i} {
          background: url('/images/icons/Icon-#{$i}.jpg') no-repeat;
          width: 240px;
          height: 180px;
          max-height: 100%;
          z-index: 1;
          &:hover {
            background: url('/images/icons/Icon-#{$i}-press.jpg') no-repeat;
            z-index: 2;
          }
        }
      }
    }
  }
}


.fix-plates {
  ul {
    display: flex;
    justify-content: center;
    li {
      list-style-type: none;
      @for $i from 1 through 4 {
        div.plate-#{$i} {
          background: url('/images/about/Icon-#{$i}.png') no-repeat;
          width: 300px;
          height: 180px;
          max-height: 100%;
          z-index: 1;
          &:hover {
            background: url('/images/about/Icon-#{$i}-press.png') no-repeat;
            z-index: 2;
          }
        }
      }
    }
  }
}

.bx_catalog_top_home {
  border-bottom: none;
}

.bx_catalog_item_images {
  opacity: 0 !important;
}

.bx_catalog_item_images_double {
  opacity: 1 !important;
}

/* FOOTER */
footer {
  background:transparent url('/images/bg-wall.jpg') left top repeat-x;
  padding-top: 70px;
  overflow: hidden;
  .footer-menu {
    li {
      a {
        &:hover, &:focus {
          color: #87270d;
        }
      }
    }
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4e4e4e;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
  line-height: 0;
  .footer-logo {
    margin-bottom: 40px;
  }
}

.copyright {
  height: 40px;
  width: 100%;
  background: rgba(129, 129, 129, 0.41);
  p {
    color: #4e4e4e;
    font-family: Arial;
    font-size: 0.87rem;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    line-height: 40px !important;
  }
}

/* FORM */

.form-wrapper {
  background:transparent url('/images/feedback-bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.mfeedback {
  margin-bottom: 120px;
  form {
    display: flex;
    justify-content: center;
    .mf-name, .mf-email, .mf-phone, [type="submit"] {
      flex-basis: 25%;
      input {
        width: 94%;
        border: 1px solid white;
        background: rgba(255, 255, 255, 0.67);
        height: 46px;
        padding-left: 15px;
        color: #230e0d;
        font-family: Arial;
        @include fontSize(18px);
        font-weight: 700;
        text-transform: uppercase;
        &::-webkit-input-placeholder { color: black; };
        &::-moz-placeholder { color: black; };
      }
    }
    [type="submit"] {
      background: #87270d;
      border: none;
      color: white;
      font-family: Arial;
      @include fontSize(18px);
      font-weight: 700;
      text-transform: uppercase;
      &:hover, &:focus {
        background: black;
      }
    }
  }
  h1 {
    margin: 96px 0 53px 0;
    color: black;
  }
}

/* END FORM */

/* NEWS */

.sell {
  background: 
    url('/images/brick.png') calc(50% + 324px/2) 80% no-repeat,
    url('/images/texture.png') 0 0 repeat-x ;
  .sell-wrapper {
    display: flex;
    justify-content: space-between;
    .left-wrapper {
      margin-top: 96px;
      flex-basis: 50%;
      h1 {
        line-height: 36px;
        position: relative;
        margin-bottom: 70px;
        &:after {
          content: '';
          width: 180px;
          border-bottom: 1px solid #4e4e4e;
          position: absolute;
          left: calc(50% - 90px);
          bottom: -36px;
        }
      }
      p {
        color: #4e4e4e;
      }
    }
    .right-wrapper {
      flex-basis: 400px;
      margin-right: 25px;
      .news-list {
        margin-top: 150px;
        margin-bottom: 150px;
      }
      .preview_picture {
        margin-right: 10px;
        margin-bottom: 16px;
        border: 2px solid white;
      }
      .custom-preview {
        overflow: hidden;
        text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 5;
        // -webkit-box-orient: vertical;
        margin-bottom: 10px;
      }
      .custom-news-button {
        float: right;
        padding: 3px 10px;
        background-color: #87270d;
        a {
          color: white;
          text-decoration: none;
        }
        &:hover {
          background-color: black;
        }
      }
    }
  }
}

/* END NEWS */

/* SLIDER */

.title {
  /* чтобы линии не выходили за ширину блока заголовка */
  overflow: hidden;
  position: relative;
  $line-height: 34px;
  line-height: $line-height;
  margin-top: (140px/2) - $line-height/2;
  margin-bottom: (140px/2) - $line-height/2;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: $line-height/2 - 3px;
    /* делаем линию строчно-блочной */
    display: inline-block;
    /* выравниваем вертикально по середине */
    vertical-align: middle;
    /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
    box-sizing: border-box;
    /* установка ширины в 100% делает линию равной ширине тега заголовка
     ** благодаря этому линия заполнит все свободное пространство
     ** слева и справа от текста
     */
    width: 100%;
    height: 2px;
    background: #4e4e4e;
    /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
     ** благодаря этому создается нужный отступ между линиями и текстом
     */
    border: solid #f2f2f2;
    border-width: 0 32px;
  }
  &:before {
    /* смещаем левую линию влево отрицательным отступом, равным 100% ширины
     ** благодаря этому линия встает слева от текста
     */
    margin-left: -100%;
  }
  &:after {
    /* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
     ** благодаря этому линия встает справа от текста
     */
    margin-right: -100%;
  }
}

.title-50px {
  color: #87270d;
  margin-top: 0;
  margin-bottom: 41px;
  &:before {
    width: 82px;
    left: 0;
    margin-left: 0;
    border-left: none;
  }
  &:after {
    width: 82px;
    right: 0;
    margin-right: 0;
    border-right: none;
  }
}

.title-50px:before, .title-50px:after {
  background: #87270d !important;
  position: static;
  // width: 114px;
}

.slick {
  overflow: hidden;
  max-width: 100%;
  min-height: 220px;
  margin-bottom: 70px;
  img {
    opacity: 0.5;
    transition: all 300ms ease;
    padding: 2%;
    max-width: 620px;
  }
  .slick-center {
    img {
      opacity: 1 !important;
      transform: scale(1.08);
    }
  }
}

.bx-breadcrumb {
  color: #87270d;
  margin-bottom: 30px;
  margin-top: 17px;
  & a {
    color: #4e4e4e;
    font-family: Arial;
    @include fontSize(12px);
    font-weight: 400;
  }
  .bx-breadcrumb-item {
    span {
      // font-size: 1rem !important;
      // font-family: Arial;
    }
  }
  .fa-angle-right {
    background: url(/images/breadcrumb-arrow.png);
    width: 5px;
    height: 9px;
    &:before {
      content: '';
    }
  }
}

/* ABOUT COMPANY */

h4 {
  color: #4e4e4e;
  font-family: Arial;
  @include fontSize(18px);
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.t12 {
  top: 12px;
}

.about-wrapper {
  overflow: hidden;
  .l-wrapper {
    position: absolute;
    z-index: -1;
    background:transparent url('/images/about-bg.png') left top no-repeat;
    background-size: cover;
    left: 0;
    $container-width: 1200px;
    width: calc((100% - #{$container-width})/2  + 286px);
    height: 200%;
  }
  .r-wrapper {
    margin-left: 286px;
    h4 {
      margin-top: 60px;
      margin-bottom: 20px;
      &.hover:hover {
        color: #87270d;
      }
    }
    padding-left: 15px;
    ul {
      li {
        list-style-image: url(/images/li-marker.png);
        list-style-position: inside;
        p {
          margin-bottom: 20px;
        }
      }
    }
    span {
      font-family: Arial;
      font-weight: 400;
      line-height: 32px;
      color: #87270d;
      @include fontSize(18px);
      position: relative;
      &.about-why:hover:before,
      &.about-how:hover:before,
      // &.about-because:hover:before { background-color: #87270d; color: #f2f2f2 !important; }
      &.about-because:hover:before { color: #87270d !important; }
      &.about-why:before,
      &.about-how:before,
      &.about-because:before {
        content: "ЗАБОТА";
        position: absolute;
        width: 286px;
        height: 144px;
        left: -327px;
        line-height: 144px;
        top: -11px;
        background-color: rgba(255, 255, 255, .8);
        z-index: 10;
        color: #4e4e4e;
        font-family: Arial;
        @include fontSize(36px);
        font-weight: 700;
        text-align: center;
      }
      &.about-how:before  { content: "ГАРАНТИЯ"; }
      &.about-because:before  { content: "КАЧЕСТВО"; }
    }
    p {
      font-family: Arial;
      font-weight: 400;
      line-height: 32px;
      color: #4e4e4e;
      @include fontSize(16px);
    }
  }
}


.about-ads-wrapper {
  background: transparent url(/images/feedback-bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h1 {
    color: #000;
    margin-top: 70px;
  }
  h2 {
    color: #ffffff;
    font-family: Arial;
    @include fontSize(18px);
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 40px;
  }
  .plates {
    ul {
      li {
        :hover { opacity: 0.51 }
      }
    }
  }
}

/* END ABOUT */
/* CONTACTS */
.bg-white {
  background-color: white !important;
}

.contacts-flex-wrapper {
  display: flex;
  justify-content: space-between;
  .contacts-left {
    padding-left: 20px;
    padding-top: 20px;
    flex-basis: 30%;
    margin-right: 15px;
    background-color: #f2f2f2;
    h1.show-room {
      color: #87270d;
      font-family: Arial;
      @include fontSize(36px);
      font-weight: 700;
      line-height: 16px;
      text-align: left;
    }
    p {
      color: #4e4e4e;
      font-family: Arial;
      font-weight: 400;
      span {
        @include fontSize(18px);
      }
      @include fontSize(16px);
      line-height: 0.7;
    }
  }
  .contacts-right {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
    p {
      text-align: center;
    }
    form {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > div {
        width: 80%;
        margin-bottom: 15px;
        input {
          width: 100%;
          border: none;
          padding: 10px 15px;
        }
        textarea {
          border: none;
          width: 100%;
          padding: 10px 15px;
        }
      }
      [type="submit"] {
        background: #87270d;
        border: none;
        color: white;
        font-family: Arial;
        @include fontSize(18px);
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 15px;
        width: 30%;
      }
    }
  }
}
.map-placeholder {
  margin-top: 40px;
  margin-bottom: 40px;
  img { max-width: 100% };
}

.contacts-building {
  img { width: 100%; }
  margin-bottom: 50px;
}

.constacts-slick {
  position: relative;
  top: 12px;
}

/* END CONTACTS */
/* DILLERS */

.dillers-why:hover:before,
.dillers-how:hover:before,
// .dillers-because:hover:before { background-color: #87270d; color: #f2f2f2 !important; }
.dillers-because:hover:before { color: #87270d }
.dillers-why:before,
.dillers-how:before,
.dillers-because:before {
  content: "ИНФОРМАЦИЯ";
  position: absolute;
  width: 286px;
  height: 144px;
  left: -327px;
  line-height: 144px;
  top: -11px;
  background-color: rgba(255, 255, 255, .8);
  z-index: 10;
  color: #4e4e4e;
  font-family: Arial;
  @include fontSize(36px);
  font-weight: 700;
  text-align: center;
}
.dillers-how:before  { content: "ОБУЧЕНИЕ"; }
.dillers-because:before  { content: "ЗАЩИТА"; }
.dillers-last {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  &:hover {
    color: #87270d;
  }
}


.dillers-fix {
  .l-wrapper {
    // top: 0;
  }
  .r-wrapper {
    h4 {
      margin-top: 0;
      &:first-line {
        line-height: 18px;
      }
    }
    p {
      margin-bottom: 20px;
    }
  }
}
/* END DILLERS */

/* MENU */

.header-main .container .row ul#horizontal-multilevel-menu > li {
  $menu-height: 80px;
  $line-height: 30px;
  // position: relative;
  padding: ($menu-height - $line-height)/2 30px;
  text-transform: uppercase;
  font-size: 1.12rem;
  line-height: $line-height;
  &:nth-child(1) {
    margin-right: 30px;
    // cursor: pointer;
    a {
      // pointer-events: none;
    }
  }
  &:nth-child(1) > a:after {
    content: '';
    position: absolute;
    width: 19px;
    height: 9px;
    right: -25px;
    top: calc(36% - 4px);
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAJCAYAAADQHRcxAAABRElEQVQoU4WRu0oDQRSGz5nZCwtiqbXs5hl8ABslCBKwFC1tJKWbVddLkbUVS19AFDt9C0VE201QFCNiGUJ2bs4Gs0zWRWe6f/7znTP/wbbvngKxNgHQAgSlLyLIgZKsGaXsDEon8b1rRckS5jaldBmikvKFCrGF0QzMTk27IRC7qXUsaqUYouQbYZqdj7Uk8C6A0NWcY/i+UIj1sDO8KdSk5uwA2IdACB0bVQ7kfK3VzS6Pa96VRNow+4HgPSL58naH3eY1RguAZM45AsuOTCBI0dd/fwKk83+BfsFyoR04MaIdT0yoszFBeuIPLlk9TtmdGenEZEU2VRP+PCrJ3zHj9dYzuy8vpxKWm5LAOQC0d0sZfpIBXwhfs8cyqPKbpkkvZU8vZX8EVKLH+mwxfmMPVaB/YaMMffcECWkwyVfKGZWh36rOiQm2mK1EAAAAAElFTkSuQmCC') no-repeat right;
  }
  > a {
    padding-bottom: 5px;
    position: relative;
    &:hover, &:focus {
      border-bottom: 3px solid #87270d;
    }
  }
  // &:hover, &:focus { }
}

ul#horizontal-multilevel-menu {

  $menu-width: 30%;

  > li > ul > li {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  > li > ul {
    min-height: 600px;
  }

  ul {
    position:absolute;
    z-index: 9999;
    display: none;
    background: #1f1f1e;
    width: $menu-width;
    left: 0;
    top: 80px;
    padding-top: 40px;
    padding-bottom: 35px;
    list-style-position: outside;
    // li:hover ul {
    //   display: block;
    // }
  }

  ul li {
    padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    list-style-image: url(/images/li-marker-2.png);
    text-transform: none;
    margin-left: 30px;
    // float:none;
  }

  ul a{
    // white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;
    color: #f2f2f2;
    font-family: Arial;
    @include fontSize(18px);
    font-weight: 700;
    line-height: 20pt;
    &:hover, &:focus {
      color: #87270d;
    }
  }

  li:hover ul { /* Выводим выпадающий пункт при наведении курсора */
    // display: block;
  }

  a.parent + ul { /* Второй список */
    background-color: white;
    top: 0;
    width: (100% - $menu-width) * (100% / $menu-width);
    margin-left: 100%;
    height: 100%;
    display: none;
    li {
      list-style-image: url(/images/li-black2-marker.png);
      a {
        font-family: Arial;
        color: #4e4e4e;
        font-size: 16px;
        font-weight: 400;
      }
      &:hover {
        a {
          color: #87270d;
        }
        list-style-image: url(/images/li-terra-marker.png);
      }
    }
  }


  &.open {
      > li > ul {
      display: block;
      li:nth-child(1) > a.parent + ul {
        display: block;
        // background-color: red;
      }
    }
  }

  > li > ul > li {
    &:hover {
      a.parent + ul {
        display: block;
      }
    }
  }

    // li:hover > ul {
    // display: block;
    // li:nth-child(1) > a.parent + ul {
    //   display: block;
    //   // background-color: red;
    // }
  // }


  .links {
    position: absolute;
    bottom: 16px;
    right: 47px;
    width: 340px;
    a {
      color: #4e4e4e;
      font-size: 12px;
      font-weight: 300;
    }
  }

}

.header_menu_image {
  float: right;
  right: 40px;
}
/* END MENU */

/* Product page */
$wrapper-margin: 15px;

.left-wrapper, .right-wrapper {
  width: calc(50% - #{$wrapper-margin/2});
}

.left-product-wrapper, .right-product-wrapper {
  width: 50%;
}

.left-product-wrapper {
  float: left;
}

.right-product-wrapper {
  float: right;
}

.flex-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.two-column-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.left-wrapper {
  float: left;
  margin-right: $wrapper-margin/2;
}

.right-wrapper {
  position: relative;
  float: right;
  margin-left: $wrapper-margin/2;
  background-color: white;
  bottom: 0;
  top: 0;
  &.flex-col {
    padding-right: 16px;
  }
}

.slick-vertical-wrapper {
  flex-direction: column;
  position: relative;
  img {
    height: 70px;
    width: 300px;
  }
  .texture-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #4e4e4e;
    font-family: Arial;
    @include fontSize(15px);
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .6);
    width: 50%;
    padding: 10px;
    margin-left: 25%;
  }
}

.slider-for img {
  width: 100%;
}

.slider-nav {
  display: flex !important;
  flex-direction: column;
}

.information-wrapper {
  margin-left: 16px;
  h4 {
    text-align: left;
    font-family: Arial;
    @include fontSize(18px);
    font-weight: 700;
    text-transform: uppercase;
    color: #4e4e4e;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    &:first-child {
      margin-top: 16px;
    }
    & + h4 {
      color: #87270d;
      margin-bottom: 32px;
    }
  }
  @include fontSize(16px);
  line-height: 24px;
  font-weight: 700;
  p.cost + p.cost {
    margin-bottom: 30px;
  }
  .cost-green {
    color: green;
    @include fontSize(24px);
  }
  table {
    font-weight: 400;
    tr {
      border-bottom: 1px solid #4d4d4d;
      &:last-child {
        border-bottom: none;
      }
    }
    td {
      &:first-child {
        font-weight: 700;
        padding-right: 20px;
      }
    }
  }
}

.slider-product {
  img {
    width: 100%;
    height: auto;
    padding-left: 7px;
    padding-right: 7px;
  }
  margin-left: 25px;
  margin-right: 30px;
  margin-bottom: 40px;
}

button.slick-prev {
  background: url(/images/slider-arrow-left.png) !important;
  height: 40px;
  width: 20px;
  &:before {
    content: "";
  }
}

button.slick-next {
  background: url(/images/slider-arrow-right.png) !important;
  height: 40px;
  width: 20px;
  &:before {
    content: "";
  }
}

.slider-nav {
  padding-top: 20px;
  margin-top: 30px;
  padding-bottom: 12px;
  position: relative;
  .slick-arrow {
    height: 20px;
    width: 40px;
    position: absolute;
    left: calc(50% - 20px);
  }
  .slick-next {
    background: url(/images/slider-arrow-bottom.png) !important;
    top: 100%;
  }
  .slick-prev {
    background: url(/images/slider-arrow-top.png) !important;
    top: 0;
  }
  div.slick-vertical-wrapper {
    margin-bottom: 8px;
  }
}

.catalog-button {
  margin-top: 40px;
  .link-description {
    color: #4e4e4e;
    font-family: Arial;
    text-align: center;
    @include fontSize(18px);
    font-size: 0;
    font-weight: 400;
    + a {
      background-color: #882204;
      color: white;
      margin-left: 16px;
      margin-bottom: 40px;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-weight: 700;
      width: 250px;
      border: 2px solid #882204;
      display: inline-block;
      &:hover, &:active {
        background-color: black;
        border: 2px solid black;
        text-decoration: none;
      }
      &.green-button {
        background-color: #fff;
        border: 2px solid green;
        text-transform: none;
        color: green;
        box-sizing: content-box;
        &:hover, &:active {
          color: white;
          background-color: green;
          text-decoration: none;
        }
      }
    }
  }
}

.sticker-new, .sticker-in {
  width: 70px;
  height: 17px;
  margin-left: auto;
  margin-right: 25px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.sticker-new {
  background: url(/images/sticker-new.png);
}

.sticker-in {
  background: url(/images/sticker-in.png);
}

/*TABS*/
/* Style the tab */
div.tab {
  overflow: hidden;
  // background-color: #f1f1f1;
  background-color: white;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 20%;
  // transition: 0.3s;
  font-family: Arial;
  @include fontSize(15px);
  font-weight: 700;
  text-transform: uppercase;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ccc;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  color: #87270d;
  font-family: Arial;
  background-color: #f1f1f1;
  border-bottom: 1px solid transparent;
  @include fontSize(15px);
  font-weight: 700;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 50px;
  p {
    text-align: justify;
  }
}

.maintab {
  display: block;
}

/*END TABS*/

.flex-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  // margin-bottom: 32px;
}

.flex-product-wrapper {
  min-height: 500px !important;
  position: relative;
  background-color: #fff;
  margin-left: 7px;
  margin-right: 7px;
  .product-desc {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  // &.slick-active:first-child {
  //   margin-left: 0;
  // }
  // &.slick-active:last-child {
  //   margin-right: 0;
  // }
  border: 2px solid #f2f2f2;
  &:hover {
    border: 2px solid #87270d;
  }
  h3 {
    max-width: 230px;
    margin-left: 10px;
    margin-bottom: 20px;
    a {
      color: #282828;
      font-weight: 400;
      font-family: Arial;
      @include fontSize(16px);
      &:hover, &:focus {
        color: #87270d;
      }
    }
  }
  .left-product-wrapper {
    margin-bottom: 10px;
    p {
      margin-left: 10px;
    }
  }
  p {
    color: #282828;
    font-family: Arial;
    font-weight: 400;
    @include fontSize(16px);
    margin-bottom: 0;
    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.mb70 {
  margin-bottom: 70px;
}

.green {
  color: #009900  !important;
  font-family: Arial !important;
  @include fontSize(16px);
  font-weight: 400 !important;
}

.product-button {
  background-color: #882204;
  color: white;
  text-align: center;
  @include fontSize(14px);
  padding: 5px 8px;
  border: 2px solid #882204;
  &:hover, &:active {
    background-color: black;
    border: 2px solid black;
    text-decoration: none;
    color: white;
  }
}

.img-wrapper {
  position: relative;
  display: inline-block;
  padding-left: 7.5px;
  padding-right: 7.5px;
  &:hover, &:focus {
    opacity: .8;
    overflow: hidden;
    img {
      transform: scale(1.01);
    }
    & .texture-name {
      color: #87270d;
    }
  }
  .texture-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #4e4e4e;
    font-family: Arial;
    z-index: 9;
    @include fontSize(15px);
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .6);
    width: 80%;
    padding: 10px;
    margin-left: 10%;
  }
  img {
    width: 100%;
  }
}

.jumbo {
  width: 100%;
  margin-bottom: 70px;
  margin-top: 70px;
  img {
    max-width: 100%;
  }
}

.desc {
  color: #4e4e4e;
  font-family: Arial;
  @include fontSize(16px);
  font-weight: 400;
}

$sidebar-width: 288px;

.content-sidebar {
  float: left;
  max-width: $sidebar-width;
  span.subcategory_name {
    font-size: 18px;
    font-weight: 700;
  }
  .bx_sitemap {
    margin-top: 20px;
    ul {
      list-style-image: url(/images/li-black-marker.png);
      list-style-position: inside;
      color: #4e4e4e;
      li {
        &:hover, &:active {
          list-style-image: url(/images/li-terra-marker.png);
        }
      }
    }
  }
}

.content-main {
  margin-left: $sidebar-width;
  // display: flex;
  // justify-content: space-between;
  // margin-left: -7.5px;
  // margin-right: -7.5px;
}

.header-underline {
  border-bottom: 4px solid #bbb;
}

.select-category-wrapper {
  background-color: #fff;
  margin-right: 15px;
  overflow: hidden;
  padding-top: 10px;
  .subcategory_name {
    margin-left: 10px;
  }
  h5 {
    color: #87270d;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    @include fontSize(18px);
    font-weight: 700;
  }
  ul {
    padding-bottom: 40px;
    margin-left: 20px;
    margin-bottom: 16px;
    li {
      font-family: Arial;
      list-style-position: inside;
      list-style-image: url(/images/li-black-marker.png);
      @include fontSize(16px);
      font-weight: 400;
      color: #4e4e4e;
      &:hover, &:active {
        list-style-image: url(/images/li-terra-marker.png);
      }
      &.marked {
        color: #87270d;
      }
    }
  }
}

.flex-row.no-margin .flex-product-wrapper {
  &:last-child {
    margin-right: 0px;
  }
  &:first-child {
    margin-left: 0px;
  }
}

.category-pager {
  background-color: #fff;
  padding: 40px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 32px;
}


.catalog-category-wrapper {
  position: relative;
  .texture-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #4e4e4e;
    font-family: Arial;
    @include fontSize(15px);
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .6);
    width: 80%;
    padding: 10px;
    margin-left: 7%;
    z-index: 9;
  }
  &:hover, &:focus {
    opacity: .8;
    overflow: hidden;
    img {
      transform: scale(1.01);
    }
    & .texture-name {
      color: #87270d;
    }
  }
}

.mb16 {
  margin-bottom: 16px;
}

.subcategory-main {
  .subcategory-wrapper {
    padding-top: 23px;
    padding-bottom: 23px;
    font-family: Arial;
    color: #4e4e4e;
    font-size: 16px;
    @include fontSize(16px);
    font-weight: 400;
    h3 {
      a {
        font-size: 18px;
        font-family: Arial;
        color: #4e4e4e;
        font-size: 16px;
        @include fontSize(18px);
        font-weight: 700;
        text-decoration: none;
        &:hover {
          color: #87270D;
        }
      }
    }
    .left-wrapper {
      > ul {
        > li {
          list-style-position: inside;
          list-style-image: url(/images/li-black-marker.png);
          a {
            text-decoration: none;
            color: #4e4e4e;
          }
          a:hover {
            color: rgb(135, 39, 13);
          }
          &:hover {
            list-style-image: url(/images/li-terra-marker.png);
          }
          &:last-child {
            color: #87270d;
            list-style-image: url(/images/li-terra-marker.png);
          }
          > ul { /* Подсписок */
            > li {
              list-style-image: url(/images/li-empty-marker.png);
              padding-left: 10px;
              &:hover {
                color: rgb(135, 39, 13);
                > ul { color: #4e4e4e; }
              }
            }
          }
        }
      }
    }
    .img-wrapper {
      float: right;
    }
    * {
      background-color: #f2f2f2 !important;
    }
    &:last-child {
      border-bottom: 4px solid #bbb;
    }
    border-top: 4px solid #bbb;
  }
}

.no-white-fix {
  background: none;
  .title {
    &:before, &:after {
      border-color: white;
    }
  }
  .header-main {
    background: #f2f2f2;
  }
}

/* FILTER */
.bx-filter-title {
  color: #4e4e4e;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
}

.bx-filter .bx-filter-parameters-box-title span {
  color: #4e4e4e;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
}

.bx-filter.bx-blue .bx-filter-section {
  background: white;
  margin-right: 15px;
}

.bx-filter.bx-blue .bx-ui-slider-handle.left, .bx-filter.bx-blue .bx-ui-slider-handle.right {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAANCAYAAABcrsXuAAAAvklEQVQ4T63UvRHCMAwFYMs/wBTMQcEAuLAXYQT2oGcG0wMZhjXMCxc4IMGSDtxG0pcX5UxGcVJKEeXrUspO0WZIWhxjXHnvz0Q0r7XuAW2lvSJkAE4AFo/BGohFXhN8vrkUaiItQJPoKyIBpNAkMgAX7GAmXW7r042QHgghdBgepACX6A3pAedcZ61VAy3oifySgPvr7sg/galElHPeYGlHLNlpd8DVY+4VN8OScB9VAFz96DkGGK6vr8E53ACn92eYPz9n2AAAAABJRU5ErkJggg==") no-repeat right top;
  &:hover {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAANCAYAAABcrsXuAAAA30lEQVQ4T63Tyw3CMAwGYDshKQdmQEiVmIEDA8AsLADijCoW4M4O3IEuwAD0zAo8m5AUqFq1NI4gZztf/adG8DiLMBhzxOE0ucw92gCpxcueGCghdsB4AOltNUuuE2ovCckAKbaAvG0v1loDqjsZciIWSM0EaCcoHB+oESlFVJMNFfqKuICPSYFqkXdEexORpDyuC6ogGSBljMgEBaBMVEJef5GMwRNwQTnyK9AEZci/gDxes0dQ2COMwmCkWWuDjHGfN6DUavU4HY7nLkb9jllf505W77Rf6+qzNalaPwGfpn+6UZ5Y0QAAAABJRU5ErkJggg==")
  }
}

.bx-filter .bx-ui-slider-handle.left {
  margin-left: -13px;
}

.bx-filter .bx-ui-slider-handle.right {
  margin-right: -13px;
}

.bx-filter .bx-ui-slider-handle {
  width: 25px;
  height: 13px;
}

.bx-filter .bx-ui-slider-track {
  position: relative;
  height: 3px;
}

.bx-filter.bx-blue .bx-ui-slider-pricebar-v {
  background: #a7a7a7;
}

.bx-filter.bx-blue .bx-ui-slider-pricebar-vn {
  background: #dadada;
}

.bx-filter .bx-ui-slider-part {
  background: #a7a7a7;
}

.bx-filter .bx-filter-parameters-box-title {
  border-bottom: 1px solid #888;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bx-filter .bx-filter-input-checkbox .bx-filter-param-text {
  color: #4e4e4e;
}

.bx-filter .bx-filter-input-container input {
  border-radius: 0;
  background: #fff;
  border: 1px solid #a6a6a6;
}

.bx-filter-parameters-box-container {
  .btn.btn-themes {
    color: #ffffff;
    border-radius: 0;
    border: 2px solid #87270d;
    background: #87270d;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    &:hover, &:active {
      background: black;
      border-color: black;
    }
  }
  .btn.btn-link {
    border: 2px solid #a6a6a6;
  }
  .btn-link {
    font-weight: normal;
    border-radius: 0;
    color: #4e4e4e;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    &:hover, &:active {
      border-color: #87270d;
    }
  }
}
/* END FILTER */

.product-arrows {
  // $margin-arrows: 10px;
  // &:before {
  //   content: '';
  //   background: url(/images/slider-arrow-left.png);
  //   height: 40px;
  //   width: 20px;
  //   position: absolute;
  //   top: calc(50% - 20px);
  //   left: -20px - ($margin-arrows);
  // }
  // &:after {
  //   content: '';
  //   background: url(/images/slider-arrow-right.png);
  //   height: 40px;
  //   width: 20px;
  //   position: absolute;
  //   top: calc(50% - 20px);
  //   right: -20px - ($margin-arrows);
  // }
}

.slick-main-arrows button {
  position: absolute;
  z-index: 9;
  $center-img-width: 620px;
  $margin-with-center: 40px; /* DONT CHANGE */
  $margin-with-center: $margin-with-center + 40px;
  $margin-arrows: calc((100vw - #{$center-img-width})/2 - #{$margin-with-center});
  &.slick-prev {
    left: $margin-arrows;
  }
  &.slick-next {
    right: $margin-arrows;
  }
}
