html {
  font-size: 100%;
}

body { font-size: inherit; }

ul, ol {
  padding-left: 0;
}

h1 {
  color: #4e4e4e;
  font-family: Arial;
  font-size: 36px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

header {
  .header-contacts {
    height: 40px;
    width: 100%;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0;
      height: 40px;
      li {
        list-style-type: none;
        padding: 0 15px;
        border-right: 1px solid #818181;
        &:first-child {
          border-left: 1px solid #818181;
        }
      }
    }
  }
}

.main-img-wrapper {
  margin-bottom: 70px;
}

.plates {
  ul {
    display: flex;
    justify-content: center;
    li {
      list-style-type: none;
    }
  }
}

/* FOOTER */
footer {
  background:transparent url('/images/bg-wall.jpg') left top repeat-x;
  padding-top: 70px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4e4e4e;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
  .footer-logo {
    margin-bottom: 40px;
  }
}

.copyright {
  height: 40px;
  width: 100%;
  background-color: #818181;
  p {
    color: #4e4e4e;
    font-family: Arial;
    font-size: 0.87rem;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    line-height: 40px !important;
  }
}

/* FORM */

.form-wrapper {
  background:transparent url('/images/feedback-bg.png') no-repeat;
  background-size: cover;
}

.mfeedback {
  margin-bottom: 120px;
  form {
    display: flex;
    justify-content: center;
    .mf-name, .mf-email, .mf-phone, [type="submit"] {
      flex-basis: 25%;
      input {
        width: 92%;
        border: 1px solid white;
        background: rgba(255, 255, 255, 0.67);
        height: 46px;
        padding-left: 15px;
        color: #230e0d;
        font-family: Arial;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    [type="submit"] {
      background: #87270d;
      border: none;
      color: white;
      font-family: Arial;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  h1 {
    margin: 96px 0 53px 0;
    color: black;
  }
}

/* END FORM */

/* NEWS */

.sell {
  background: url('/images/sell-bg.jpg') -260px no-repeat;
  background-size: cover;
  .sell-wrapper {
    display: flex;
    justify-content: space-between;
    .left-wrapper {
      margin-top: 96px;
      flex-basis: 50%;
      h1 {
        line-height: 36px;
        position: relative;
        margin-bottom: 70px;
        &:after {
          content: '';
          width: 180px;
          border-bottom: 1px solid #4e4e4e;
          position: absolute;
          left: calc(50% - 90px);
          bottom: -36px;
        }
      }
      p {
        color: #4e4e4e;
      }
    }
    .right-wrapper {
      flex-basis: 400px;
      .news-list {
        margin-top: 150px;
        margin-bottom: 150px;
      }
      .preview_picture {
        margin-right: 10px;
        margin-bottom: 16px;
        border: 2px solid white;
      }
      .custom-preview {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        margin-bottom: 10px;
      }
      .custom-news-button {
        float: right;
        padding: 3px 10px;
        background-color: #87270d;
        a { color: white; }
      }
    }
  }
}

/* END NEWS */