@import "partials/_popup";
@import "partials/_fixes";
// @import "partials/font-awesome";
@import "partials/_fonts";

/* FONTS */
/* FONTS */

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

.bx_catalog_top_home {
  border-bottom: none;
}

.bx_catalog_item_images {
  opacity: 0 !important;
}

.bx_catalog_item_images_double {
  opacity: 1 !important;
}

/* FOOTER */


.t12 {
  top: 12px;
}

.about-wrapper {
  overflow: hidden;
  .l-wrapper {
    position: absolute;
    z-index: -1;
    background:transparent url('/images/about-bg.png') left top no-repeat;
    background-size: cover;
    left: 0;
    $container-width: 1200px;
    width: calc((100% - #{$container-width})/2  + 286px);
    height: 1200px;
  }
  .r-wrapper {
    margin-left: 286px;
    h4 {
      margin-top: 60px;
      margin-bottom: 20px;
      &.hover:hover {
        color: #a31a18;
      }
    }
    padding-left: 15px;
    ul {
      li {
        list-style-image: url(/images/li-marker.png);
        list-style-position: inside;
        p {
          margin-bottom: 20px;
        }
      }
    }
    span {
      font-family: Lato;
      font-weight: 400;
      line-height: 32px;
      color: #a31a18;
      @include fontSize(18px);
      position: relative;
      &.about-why:hover:before,
      &.about-how:hover:before,
      // &.about-because:hover:before { background-color: #a31a18; color: #f2f2f2 !important; }
      &.about-because:hover:before { color: #a31a18 !important; }
      &.about-why:before,
      &.about-how:before,
      &.about-because:before {
        content: "ЗАБОТА";
        position: absolute;
        width: 286px;
        height: 144px;
        left: -327px;
        line-height: 144px;
        top: -11px;
        background-color: rgba(255, 255, 255, .8);
        z-index: 10;
        color: #4e4e4e;
        font-family: Lato;
        @include fontSize(36px);
        font-weight: 700;
        text-align: center;
      }
      &.about-how:before  { content: "ГАРАНТИЯ"; }
      &.about-because:before  { content: "КАЧЕСТВО"; }
    }
    p {
      font-family: Lato;
      font-weight: 400;
      line-height: 32px;
      color: #4e4e4e;
      @include fontSize(16px);
    }
  }
}


.about-ads-wrapper {
  background: transparent url(/images/feedback-bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h1 {
    color: #000;
    margin-top: 70px;
  }
  h2 {
    color: #ffffff;
    font-family: Lato;
    @include fontSize(18px);
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 40px;
  }
  .plates {
    ul {
      li {
        :hover { opacity: 0.51 }
      }
    }
  }
}

/* END ABOUT */
/* DILLERS */

.dillers-why:hover:before,
.dillers-how:hover:before,
// .dillers-because:hover:before { background-color: #a31a18; color: #f2f2f2 !important; }
.dillers-because:hover:before { color: #a31a18 }
.dillers-why:before,
.dillers-how:before,
.dillers-because:before {
  content: "ИНФОРМАЦИЯ";
  position: absolute;
  width: 286px;
  height: 144px;
  left: -327px;
  line-height: 144px;
  top: -11px;
  background-color: rgba(255, 255, 255, .8);
  z-index: 10;
  color: #4e4e4e;
  font-family: Lato;
  @include fontSize(36px);
  font-weight: 700;
  text-align: center;
}
.dillers-how:before  { content: "ОБУЧЕНИЕ"; }
.dillers-because:before  { content: "ЗАЩИТА"; }
.dillers-last {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  &:hover {
    color: #a31a18;
  }
}


.dillers-fix {
  .l-wrapper {
    // top: 0;
  }
  .r-wrapper {
    h4 {
      margin-top: 0;
      &:first-line {
        line-height: 18px;
      }
    }
    p {
      margin-bottom: 20px;
    }
  }
}
/* END DILLERS */


/* Product page */
$wrapper-margin: 15px;

.left-wrapper, .right-wrapper {
  width: calc(50% - #{$wrapper-margin/2});
}


.flex-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.two-column-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.left-wrapper {
  float: left;
  margin-right: $wrapper-margin/2;
}

.right-wrapper {
  position: relative;
  float: right;
  margin-left: $wrapper-margin/2;
  // background-color: white;
  bottom: 0;
  top: 0;
  &.flex-col {
    padding-right: 16px;
  }
}

.slick-vertical-wrapper {
  flex-direction: column;
  position: relative;
  img {
    margin-bottom: 30px;
  }
  .texture-name--another {
    display: inline;
    position: absolute;
    color: #161616;
		border: 1px solid #bfca04;
    font-family: Lato;
		background: none;
    font-size: 15px;
    font-weight: 300;
    bottom: 0;
    width: 131px;
    left: calc(50% - 65px);
    text-align: center;
  }
}

.slider-for img {
  width: 100%;
}

.slider-nav {
  display: flex !important;
  flex-direction: column;
}

.information-wrapper {
  margin-left: 16px;
  .cost {
    padding: 25px;
    border: 1px solid #bfca04;
    margin-bottom: 30px;
    .left-wrapper {
      width: calc(30% - 7.5px);
      color: #a31a18;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
    }
    .right-wrapper {
      width: calc(70% - 7.5px);
      .cost-green {
        font-family: Lato;
        color: #282828;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
  h4 {
    text-align: left;
    font-family: Lato;
    @include fontSize(18px);
    font-weight: 700;
    text-transform: uppercase;
    color: #4e4e4e;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    &:first-child {
      margin-top: 16px;
    }
    & + h4 {
      color: #a31a18;
      margin-bottom: 32px;
    }
  }
  @include fontSize(16px);
  line-height: 24px;
  font-weight: 700;
  p.cost + p.cost {
    margin-bottom: 30px;
  }
  .cost-green {
    color: green;
    @include fontSize(24px);
  }
  table {
    font-weight: 400;
    tr {
      border-bottom: 1px solid #4d4d4d;
      &:last-child {
        border-bottom: none;
      }
    }
    td {
      &:first-child {
        padding-right: 10px;
      }
        color: #4e4e4e;
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
  }
}

.slider-product {
  img {
    width: 100%;
    height: auto;
    padding-left: 7px;
    padding-right: 7px;
  }
  margin-left: 25px;
  margin-right: 30px;
  margin-bottom: 40px;
}



.slider-nav {
  padding-top: 20px;
  margin-top: 30px;
  padding-bottom: 12px;
  position: relative;
  .slick-arrow {
    height: 20px;
    width: 40px;
    position: absolute;
    left: calc(50% - 20px);
  }
  .slick-next {
    background: url(/images/slider-arrow-bottom.png) !important;
    top: 100%;
  }
  .slick-prev {
    background: url(/images/slider-arrow-top.png) !important;
    top: 0;
  }
  div.slick-vertical-wrapper {
    margin-bottom: 8px;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-button {
  .link-description {
    color: #4e4e4e;
    font-family: Lato;
    text-align: center;
    @include fontSize(18px);
    font-weight: 300;
    + a {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 16px;
      margin-bottom: 40px;
      color: #a31a18;
      font-family: Lato;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      text-transform: uppercase;
      width: 250px;
      border: 1px solid #a41310;
      &:hover, &:active {
        background-color: #a41310;
        color: white;
        text-decoration: none;
      }
      &.green-button {
        width: 255px;
        color: #bac502;
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        border-color: #bfca04;
        text-transform: none;
        &:hover, &:active {
          color: white;
          background-color: #bfca04;
          text-decoration: none;
        }
      }
    }
  }
}

.sticker-new, .sticker-in {
  width: 70px;
  height: 17px;
  margin-left: auto;
  margin-top: 3px;
  margin-bottom: 3px;
}

.sticker-new {
  background: url(/images/sticker-new.png);
}

.sticker-in {
  background: url(/images/sticker-in.png);
}

/*TABS*/
/* Style the tab */
div.tab {
  overflow: hidden;
  // background-color: #f1f1f1;
  background-color: white;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: #f4f4f4;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 20%;
  // transition: 0.3s;
  font-family: Lato;
  @include fontSize(15px);
  font-weight: 700;
  text-transform: uppercase;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #900000;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  color: #a31a18;
  font-family: Lato;
  background-color: #fff;
  border-bottom: 1px solid transparent;
  @include fontSize(15px);
  font-weight: 700;
  border-right: 1px solid #900000;
  border-left: 1px solid #900000;
  border-top: 1px solid #900000;
}


/* Style the tab content */
.tabcontent {
  display: none;
  background: #fff;
  padding: 8px 16px;
  border: 1px solid #900000;
  border-top: none;
  margin-bottom: 50px;
  p {
    text-align: justify;
  }
}

.maintab {
  display: block;
}

/*END TABS*/


.mb70 {
  margin-bottom: 70px;
}


.img-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 7.5px;
  margin-right: 7.5px;
  border: 2px solid transparent;
  &:hover, &:focus {
    border: 2px solid #8c1c1a;
    .texture-name {
      background-color: #a31a18;
    }
  }
  img {
    width: 100%;
  }
}

.jumbo {
  width: 100%;
  margin-bottom: 70px;
  margin-top: 70px;
  img {
    max-width: 100%;
  }
}

.desc {
  margin-top: 50px; // TODO: Убрать
  font-family: Lato;
  @include fontSize(16px);
  font-weight: 400;
  color: #000000;
  font-family: Lato;
  line-height: 24px;
}

$sidebar-width: 288px;

.content-sidebar {
  float: left;
  max-width: $sidebar-width;
  span.subcategory_name {
    color: #4e4e4e;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid #a31a18;
    padding: 8px;
    display: inherit;
    margin-right: 10px;
  }
  .bx_sitemap {
    margin-top: 20px;
    ul {
      list-style-image: url(/images/li-black-marker.png);
      list-style-position: inside;
      color: #4e4e4e;
      li {
        &:hover, &:active {
          list-style-image: url(/images/li-terra-marker.png);
        }
      }
    }
  }
}

.content-main {
  margin-left: $sidebar-width;
  // display: flex;
  // justify-content: space-between;
  // margin-left: -7.5px;
  // margin-right: -7.5px;
}

.select-category-wrapper {
  background-color: #fff;
  margin-right: 15px;
  overflow: hidden;
  padding-top: 10px;
  .subcategory_name {
    margin-left: 10px;
  }
  h5 {
    color: #a31a18;
    text-transform: uppercase;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    @include fontSize(18px);
    font-weight: 700;
  }
  ul {
    margin-left: 20px;
    li {
      font-family: Lato;
      list-style-position: inside;
      list-style-image: url(/images/li-black-marker.png);
      @include fontSize(16px);
      font-weight: 400;
      color: #4e4e4e;
      &:hover, &:active {
        list-style-image: url(/images/li-terra-marker.png);
      }
      &.marked {
        color: #a31a18;
      }
    }
  }
}

.mb20 {
  margin-bottom: 20px;
}

.flex-row.no-margin .flex-product-wrapper {
  &:last-child {
    margin-right: 0px;
  }
  &:first-child {
    margin-left: 0px;
  }
}

.category-pager {
  background-color: #fff;
  padding: 40px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 32px;
}


.catalog-category-wrapper {
  position: relative;
  &:hover, &:focus {
    overflow: hidden;
  }
}

.texture-name {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-family: Lato;
  color: #ffffff;
  font-weight: 300;
  @include fontSize(15px);
  text-transform: uppercase;
  background-color: rgba(27, 27, 27, .6);
  left: 0;
  right: 0;
  z-index: 9;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
}

.mb16 {
  margin-bottom: 16px;
}

.subcategory-main {
  .bx_catalog_line {
    display: flex;
    flex-wrap: wrap;
    .subcategory-wrapper {
      flex-basis: calc(25% - 5px*2);
      margin-left: 5px;
      margin-right: 5px;
      .subcategory-card {
        h3 {
          font-family: Lato;
          @include fontSize(15px);
          border: 1px solid #a31a18;
          padding: 10px;
          text-align: center;
        }
        ul {
          margin-left: 15px;
          li {
            list-style-type: none;
            a {
              font-family: Lato;
              font-size: 16px;
              color: #4e4e4e;
              font-weight: 300;
              &:hover, &:focus {
                color: #87270d;
              }
            }
          }
        }
      }
    }
  }
}

.no-white-fix {
  background: none;
  .title {
    &:before, &:after {
      border-color: white;
    }
  }
  .header-main {
    background: #f2f2f2;
  }
}
