// Reset.css

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 22px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Functions and mixins

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

//Typography

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-Thin.eot');
  src: local('Lato Thin'), local('Lato-Thin'),
  url('/local/templates/exterra/fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-Thin.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-Thin.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-Bold.eot');
  src: local('Lato Bold'), local('Lato-Bold'),
  url('/local/templates/exterra/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-Bold.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-Bold.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-ThinItalic.eot');
  src: local('Lato Thin Italic'), local('Lato-ThinItalic'),
  url('/local/templates/exterra/fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-ThinItalic.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-ThinItalic.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-MediumItalic.eot');
  src: local('Lato Medium Italic'), local('Lato-MediumItalic'),
  url('/local/templates/exterra/fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-MediumItalic.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-MediumItalic.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-Heavy.eot');
  src: local('Lato Heavy'), local('Lato-Heavy'),
  url('/local/templates/exterra/fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-Heavy.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-Heavy.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-LightItalic.eot');
  src: local('Lato Light Italic'), local('Lato-LightItalic'),
  url('/local/templates/exterra/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-LightItalic.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-LightItalic.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-Semibold.eot');
  src: local('Lato Semibold'), local('Lato-Semibold'),
  url('/local/templates/exterra/fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-Semibold.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-Semibold.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('/local/templates/exterra/fonts/Lato-HairlineItalic.eot');
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'),
  url('/local/templates/exterra/fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-HairlineItalic.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-HairlineItalic.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-HeavyItalic.eot');
  src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'),
  url('/local/templates/exterra/fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-HeavyItalic.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-HeavyItalic.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-BoldItalic.eot');
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
  url('/local/templates/exterra/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-BoldItalic.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-BoldItalic.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-Medium.eot');
  src: local('Lato Medium'), local('Lato-Medium'),
  url('/local/templates/exterra/fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-Medium.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-Medium.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-SemiboldItalic.eot');
  src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'),
  url('/local/templates/exterra/fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-SemiboldItalic.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-SemiboldItalic.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-Italic.eot');
  src: local('Lato Italic'), local('Lato-Italic'),
  url('/local/templates/exterra/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-Italic.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-Italic.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('/local/templates/exterra/fonts/Lato-Hairline.eot');
  src: local('Lato Hairline'), local('Lato-Hairline'),
  url('/local/templates/exterra/fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-Hairline.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-Hairline.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-BlackItalic.eot');
  src: local('Lato Black Italic'), local('Lato-BlackItalic'),
  url('/local/templates/exterra/fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-BlackItalic.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-BlackItalic.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-Light.eot');
  src: local('Lato Light'), local('Lato-Light'),
  url('/local/templates/exterra/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-Light.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-Light.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-Black.eot');
  src: local('Lato Black'), local('Lato-Black'),
  url('/local/templates/exterra/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-Black.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-Black.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/local/templates/exterra/fonts/Lato-Regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'),
  url('/local/templates/exterra/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/exterra/fonts/Lato-Regular.woff2') format('woff2'),
  url('/local/templates/exterra/fonts/Lato-Regular.woff') format('woff'),
  url('/local/templates/exterra/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Base styles

html {
  font-size: 100%;
  font-family: Lato;
}

body {
  font-size: inherit;
}

h1 {
  @include fontSize(24px);
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin: 36px auto;
}

h2 {
  color: #a31a18;
  font-family: Lato;
  @include fontSize(24px);
  font-weight: 300;
  line-height: 16px;
}

h3 {
  color: #a31a18;
  font-family: Lato;
  @include fontSize(20px);
  font-weight: 300;
  line-height: 16px;
}


h4 {
  color: #4e4e4e;
  font-family: Lato;
  @include fontSize(18px);
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

h5 {
  display: inline-block;
}

a {
  @include fontSize(16px);
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
  }
}

strong {
  font-weight: 700;
}

@include breakpoint(lg) {
  .container {
    width: 1200px;
  }
}
