header > * {
  width: 100%;
}

.header--menu .row {
  position: relative;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

footer {
  background: transparent left top repeat-x;
  padding-top: 70px;
  overflow: hidden;
}
