header > * {
  width: 100%;
}

.header--menu .row {
  position: relative;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

footer {
  background: transparent left top repeat-x;
  padding-top: 70px;
  overflow: hidden;
}

.img-wrapper {
  position: relative;
}

.l-double-row {
  display: flex;
  margin-bottom: 26px;
  $double-row--margin: 15px;
  justify-content: center;
  > * {
    margin-left: $double-row--margin/2;
    margin-right: $double-row--margin/2;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
