.is-header-fixed {
  div.header-contacts {
    position: fixed;
    top: auto;
    left: 0;
    z-index: 500;
  }
}

.is-slider-has-arrows {
  button.slick-prev {
    background: url(/images/slider-arrow-left.png) !important;
    height: 40px;
    width: 20px;
    &:before {
      content: "";
    }
  }

  button.slick-next {
    background: url(/images/slider-arrow-right.png) !important;
    height: 40px;
    width: 20px;
    &:before {
      content: "";
    }
  }


}

.is-arrows-has-margins {
  button {
    position: absolute;
    z-index: 9;
    $center-img-width: 620px;
    $margin-with-center: 40px; /* DONT CHANGE */
    $margin-with-center: $margin-with-center + 40px;
    $margin-arrows: calc((100vw - #{$center-img-width})/2 - #{$margin-with-center});
    &.slick-prev {
      left: $margin-arrows;
    }
    &.slick-next {
      right: $margin-arrows;
    }
  }
}

.is-textured {
  background:
    url('/images/triangle.png') 50% -1px no-repeat,
    url('/images/texture.png') 0 0 repeat-y ;
}
