$color-primary: #a31a18;
$color-accent: #bfca04;
$color-background: #f4f4f4;
$color-text: #4a4a4a;
$color-white: white;
$color-grey: #f2f2f2;
$color-dark: #282828;
$color-black: black;
$color-light-grey: #b7b7b7;
$color-middle-grey: #4e4e4e;

html {
  color: $color-text;
}

body {
  background-color: $color-background;
}

a {
  color: $color-text;
  &:hover, &:focus {
    color: $color-primary;
  }
}

.header--contacts {
  background-color: $color-accent;
  color: $color-white;
}

.header-main {
  color: $color-text;
}

.hero:after {
  border-color: $color-background transparent transparent transparent;
}

.absolute-wrapper {
  &--button {
    background-color: $color-primary;
    border-color: $color-primary;
    a {
      color: $color-white;
    }
  }

  &--caption {
    border-color: $color-white;
    p {
      color: $color-white;
    }
  }
}


.plates {
  background: url(/images/icons/bg.png);
  &--wrapper {
    @for $i from 1 through 5 {
      div.plate-#{$i} {
        background: url('/images/icons/icon-#{$i}.png') no-repeat 50% 13px;
        &:hover {
          .plate--text {
            background-color: $color-primary;
            border-color: $color-primary;
            color: $color-white;
          }
        }
      }
    }
  }
  .plate--text {
    color: $color-primary;
    border-color: $color-primary;
  }
}

.slick-dots {
  li {
    &.slick-active {
      button:before {
        color: $color-white;
        opacity: .5;
      }
    }
    button {
      &:hover {
        &:before {
          color: $color-primary;
          opacity: 1;
        }
      }
      &:before {
        opacity: .25;
        color: $color-white;
      }
    }
  }
}

.product-card {
  border-color: $color-grey;
  &:hover {
    border-color: $color-primary;
  }
  background-color: $color-white;

  &--green-badge {
    background-color: $color-accent;
    color: $color-white !important;
  }

  > h3 {
    a {
      color: $color-dark;
      &:hover, &:focus {
        color: $color-primary;
      }
    }
  }
}

.props {
  &--cost {
    border-color: $color-accent;
  }
}

.sell {
  &--about {
    p {
      color: $color-dark;
      opacity: .7;
    }
  }
  &--news {
    .news-list {
      .news-item {
        border-color: $color-light-grey;
        &:hover {
          border-color: #a31a18;
        }
        &:last-child {
          margin-right: 0;
        }
        .custom-preview {
          color: $color-middle-grey;
        }
        .custom-news-button {
          border-color: $color-primary;
          &:hover {
            background-color: $color-primary;
            a {
              color: $color-white;
            }
          }
          a {
            color: $color-primary;
          }
        }
      }
    }
  }
}

.button-default {
  color: $color-primary;
  background-color: $color-white;
  border-color: $color-primary;
  &:hover, &:active {
    background-color: $color-primary;
    color: $color-white;
  }
}

footer {
  background-image: url('/images/texture.png');
}


.footer {
  &--menu {
    li {
      border-right-color: $color-middle-grey;
      a {
        color: $color-middle-grey;
        &:hover, &:focus {
          color: $color-primary;
        }
      }
    }
  }

  &--contacts {
    color: $color-middle-grey;
  }
}

.copyright {
  background: rgba(129, 129, 129, 0.41);
  p {
    color: $color-middle-grey;
  }
}


.mfeedback {
  form {
    .mf-name, .mf-email, .mf-phone, [type="submit"] {
      input {
        border-color: white;
        background: rgba(255, 255, 255, 0.67);
        color: $color-black;
        &::-webkit-input-placeholder { color: black; };
        &::-moz-placeholder { color: black; };
      }
    }
    [type="submit"] {
      background-color: $color-primary;
      color: $color-white;
      &:hover, &:focus {
        background: $color-black;
      }
    }
  }
  h1 {
    color: $color-white;
  }
}


.bx-breadcrumb {
  color: $color-primary;
  & a {
    color: $color-middle-grey;
  }
  .fa-angle-right {
    background: url(/images/breadcrumb-arrow.png);
  }
}
