.header {
    background: url("https://www.icgauth.banquepopulaire.fr/WebSSO_BP/img/Tetiere.png") repeat-x scroll 0 0;
}

.header-content{
	background: url("http://www.banquepopulaire.fr/portailinternet/Lists/VisualElementsLogo/logo_bp_banque_et_assurance_257x82.png;pv667f173a6cf578ad") no-repeat scroll 0 0;
}

footer {
	background: url("https://www.icgauth.banquepopulaire.fr/WebSSO_BP/img/footer.gif") repeat-x scroll left top #FFFFFF;
}

footer #bankLogoV0 {
    background-image: url("https://www.icgauth.banquepopulaire.fr/WebSSO_BP/img/footer_logo3D_BP.gif");
}